html {
	width: 100%;
}
.filebox input[type='file'] {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.filebox label {
	padding: 0.4em 0.75em; border-radius: 0.25em; border: 1px solid rgb(204, 209, 213); border-image: none; color: rgb(99, 110, 123); vertical-align: middle; display: inline-block; cursor: pointer; background-color: rgb(246, 247, 248);
}
.filebox .upload-name {
	border-width: 1px; border-style: solid; border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgb(226, 226, 226); padding: 0.5em 0.75em; border-radius: 0.25em; border-image: none; line-height: normal; vertical-align: middle; display: inline-block; background-color: rgb(245, 245, 245); -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
.table_box3 {
	overflow: auto; border-top-color: rgb(212, 212, 218); border-bottom-color: rgb(212, 212, 218); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.tb3 {
	width: 100%; font-size: 100%;
}
.tb3 th {
	padding: 8px 8px 10px; color: rgb(102, 102, 102); font-weight: 500; border-bottom-color: rgb(212, 212, 218); border-left-color: rgb(212, 212, 218); border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; background-color: rgb(243, 244, 246);
}
.tb3 th:first-child {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.tb3 td:first-child {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.tb3 tr.borB_no td {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.tb3 td {
	padding: 8px 10px; text-align: center; border-left-color: rgb(230, 232, 236); border-left-width: 1px; border-left-style: solid;
}
.tb3 td.tl {
	text-align: left;
}
.tb3 tr.bg td {
	background-color: rgb(247, 247, 249);
}
.table_box4 {
	overflow: auto; border-top-color: rgb(212, 212, 218); border-bottom-color: rgb(212, 212, 218); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.tb4 {
	width: 100%; font-size: 100%;
}
.tb4 th {
	padding: 8px 8px 10px; color: rgb(102, 102, 102); font-weight: 500; border-bottom-color: rgb(212, 212, 218); border-left-color: rgb(212, 212, 218); border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; background-color: rgb(243, 244, 246);
}
.tb4 th:first-child {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.tb4 td:first-child {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.tb4 td {
	padding: 8px 10px; text-align: center; border-left-color: rgb(230, 232, 236); border-left-width: 1px; border-left-style: solid;
}
.tb4 td.tl {
	text-align: left;
}
.tb4 tr.bg td {
	background-color: rgb(247, 247, 249);
}
.table_box5 {
	border: 1px solid rgb(221, 221, 221); border-image: none; clear: both;
}
.tb5 {
	width: 100%;
}
.tb5 th {
	background: rgb(243, 244, 246); padding: 8px 10px; color: rgb(37, 37, 37); line-height: 1.4; font-weight: 400; border-bottom-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid;
}
.tb5 td {
	background: rgb(255, 255, 255); padding: 8px 10px; color: rgb(69, 69, 69); border-top-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.tb5 th:first-child {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.tb5 td:first-child {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.disappear_body #snb {
	display: none;
}
.disappear_body .quickMenu {
	display: none;
}
.disappear_body #container-contents {
	margin: 0px auto; float: none;
}
input.error {
	border: 1px solid rgb(255, 68, 91); border-image: none;
}
textarea.error {
	border: 1px solid rgb(255, 68, 91); border-image: none;
}
label.error {
	color: rgb(255, 68, 91); padding-left: 5px; display: inline-block;
}
label.error::before {
	border-radius: 15px; width: 15px; height: 15px; text-align: center; color: rgb(255, 255, 255); line-height: 15px; font-size: 8pt; font-style: normal; margin-right: 5px; display: inline-block; content: "i"; background-color: rgb(255, 188, 33);
}
.tooltip {
	padding: 1px 5px; border-radius: 50%; border: 1px solid rgb(73, 79, 90); border-image: none; text-align: center; color: rgb(255, 255, 255); line-height: 1.2; font-size: 12px; font-weight: 400; display: inline-block; position: relative; cursor: help; box-sizing: border-box; background-color: rgb(73, 79, 90);
}
.rsps-img {
	overflow: hidden;
}
.rsps-img ul li {
	padding: 10px; float: left;
}
.rsps-img a {
	display: block;
}
.rsps-img img {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 100%; height: 200px;
}
.rsps-img > span {
	margin: 5px; width: 95%; overflow: hidden; display: inline-block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
#popup {
	padding: 15px; position: relative;
}
#popup > .title {
	padding: 10px 0px; overflow: hidden;
}
#popup > .title h2 {
	padding-top: 8px; font-size: 22px; float: left;
}
#popup > .title h1 {
	width: 113px; height: 38px; float: right;
}
#popup > .title h1 img {
	width: 100%;
}
#popup .photoM {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 85px; height: 113px; position: absolute;
}
.pd_l {
	padding-left: 108px;
}
.table_popup1 > table {
	width: 100%; border-top-color: rgb(81, 81, 89); border-top-width: 2px; border-top-style: solid;
}
.table_popup1 > table th {
	padding: 8px 5px; color: rgb(99, 110, 123); border-bottom-color: rgb(202, 202, 205); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(247, 247, 249);
}
.table_popup1 > table td {
	padding: 8px 5px; text-align: center; border-bottom-color: rgb(202, 202, 205); border-bottom-width: 1px; border-bottom-style: solid;
}
.table_popup1 > table td.tl {
	text-align: left;
}
.table_popup1 > table tr.bg td {
	background-color: rgb(247, 247, 249);
}
#popup ul.listSt {
	margin-left: 22px; list-style-type: square;
}
#popup ul.listSt li {
	color: rgb(99, 110, 123); list-style-type: square;
}
#popup h3 {
	padding: 0px 0px 6px 28px; font-size: 16px; font-weight: 400;
}
.articleP {
	width: 100%; margin-top: 24px;
}
.pop_panel {
	background: rgb(247, 247, 249); padding: 12px 10px; line-height: 1.6;
}
.bs-example-modal-lg {
	width: 740px !important; margin-left: -370px !important;
}
.bs-example-modal-sm {
	width: 640px !important; margin-left: -320px !important;
}
ul.listSt_disc {
	margin-left: 24px; list-style-type: disc;
}
ul.listSt_disc li {
	color: rgb(102, 102, 102); list-style-type: disc;
}
.thumbList {
	border-top-color: rgb(255, 68, 91); border-bottom-color: rgb(229, 229, 229); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.thumbList > ul > li {
	padding: 13px 10px 20px; overflow: hidden; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.thumbList > ul > li:first-child {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.thumbList > ul > li .pic_box {
	margin: 0px auto; padding: 5px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 150px; box-sizing: border-box;
}
.thumbList > ul > li .pic_box img {
	width: 100%; display: inline-block;
}
.thumbList > ul > li .story {
	
}
.thumbList > ul > li .story dt {
	padding-bottom: 6px; font-size: 15px; font-weight: 600;
}
.thumbList > ul > li .story dd {
	background: url("../img/common/bullet_subtitle6.png") no-repeat 24px 9px; color: rgb(101, 101, 101); line-height: 19px; padding-left: 32px;
}
.thumbList > ul > li .story .tit {
	background: url("../img/common/bullet_subtitle5.png") no-repeat 15px 7px; color: rgb(37, 37, 37); padding-left: 24px;
}
.thumbList > ul > li .story .first {
	background: url("../img/common/bullet_subtitle2.png") no-repeat 9px 2px; padding: 0px 0px 5px 26px; color: rgb(255, 68, 91); font-size: 14px; font-weight: 400;
}
.sub_title_2 {
	color: rgb(255, 68, 91); overflow: hidden; font-size: 14px; margin-bottom: 8px;
}
.sub_title_2 span {
	color: rgb(102, 102, 102);
}
.pd_l25 {
	padding-left: 25px;
}
.sub_title_m {
	color: rgb(255, 68, 91); padding-bottom: 13px; font-size: 14px; font-weight: 500;
}
.sub_title_s {
	padding-bottom: 10px; font-size: 14px;
}
.graph {
	width: 100%;
}
.graph .top_g {
	background: rgb(242, 242, 242); width: 100%; height: 13px; border-top-color: rgb(191, 191, 191); border-right-color: rgb(191, 191, 191); border-bottom-color: rgb(191, 191, 191); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; display: inline-block;
}
.graph .down_b {
	background: rgb(37, 170, 225); border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(37, 170, 225) rgb(37, 170, 225) rgb(37, 170, 225) currentColor; border-image: none; width: 100%; height: 15px; display: inline-block;
}
.graph .aipot {
	background: #0F1F42; border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: #0F1F42 #0F1F42 #0F1F42 currentColor; border-image: none; width: 100%; height: 15px; display: inline-block;
}
.vGraph {
	border: 1px solid rgb(221, 221, 221); border-image: none; padding-top: 25px;
}
.vGraph ul {
	height: 200px;
}
.vGraph ul::after {
	clear: both; display: block; content: "";
}
.vGraph li {
	margin: 0px 3%; width: 10%; height: 100%; text-align: center; float: left; display: inline; white-space: nowrap; position: relative;
}
.vGraph .gTerm {
	margin: 0px -100% -20px 0px; padding: 200px 0px 0px; width: 100%; height: 20px; color: rgb(118, 118, 118); line-height: 20px; vertical-align: bottom; display: inline-block; position: relative;
}
.vGraph .gBar1 {
	background: rgb(233, 233, 233); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; margin: -1px 0px 0px; border-image: none; width: 35%; vertical-align: bottom; display: inline-block; position: relative;
}
.vGraph .gBar2 {
	background: rgb(255, 69, 92); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(247, 28, 62) rgb(247, 28, 62) currentColor; margin: -1px 0px 0px; border-image: none; width: 35%; vertical-align: bottom; display: inline-block; position: relative;
}
.vGraph .gBar1 span {
	left: 0px; top: -20px; width: 100%; color: rgb(118, 118, 118); position: absolute;
}
.vGraph .gBar2 span {
	left: 0px; top: -20px; width: 100%; color: rgb(118, 118, 118); position: absolute;
}

.vGraph2 {
	border: 1px solid rgb(221, 221, 221); border-image: none; padding-top: 25px;
}
.vGraph2 ul {
	height: 200px;
}
.vGraph2 ul::after {
	clear: both; display: block; content: "";
}
.vGraph2 li {
	margin: 0px 3%; width: 25%; height: 100%; text-align: center; float: left; display: inline; white-space: nowrap; position: relative;
}
.vGraph2 .gTerm {
	margin: 0px -100% -20px 0px; padding: 200px 0px 0px; width: 100%; height: 20px; color: rgb(118, 118, 118); line-height: 20px; vertical-align: bottom; display: inline-block; position: relative;
}
.vGraph2 .gBar1 {
	background: rgb(233, 233, 233); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; margin: -1px 0px 0px; border-image: none; width: 35%; vertical-align: bottom; display: inline-block; position: relative;
}
.vGraph2 .gBar2 {
	background: rgb(255, 69, 92); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(247, 28, 62) rgb(247, 28, 62) currentColor; margin: -1px 0px 0px; border-image: none; width: 35%; vertical-align: bottom; display: inline-block; position: relative;
}
.vGraph2 .gBar1 span {
	left: 0px; top: -20px; width: 100%; color: rgb(118, 118, 118); position: absolute;
}
.vGraph2 .gBar2 span {
	left: 0px; top: -20px; width: 100%; color: rgb(118, 118, 118); position: absolute;
}
@media all and (max-width:1024px)
{
#header {
	z-index: 99;
}
}
.gtq-img {
	display: block;
	text-align:center;
}
.col_1-5-s {
	margin: 0px; display: inline-block; box-sizing: border-box;
}
.col_1-5 {
	width: 12%;
}
.icdlimglist {
	display: inline-block;
}
.icdlimglist li {
	padding: 0px 20px 10px 0px; font-size: 15px; display: inline-block;
}
.map-api {
	border: 1px solid rgb(212, 212, 218); border-image: none; width: 100%; display: table; min-height: 450px; box-sizing: border-box; background-color: rgb(255, 255, 255);
}
.list-typediv {
	width: 100%; border-top-color: rgb(81, 81, 89); border-top-width: 1px; border-top-style: solid; display: block;
}
.list-typediv li {
	border-bottom-color: rgb(202, 202, 205); border-bottom-width: 1px; border-bottom-style: solid;
}
.list-typediv li .list-type01 {
	padding: 10px;
}
.list-typediv li .list-type01 dt {
	padding-top: 10px; font-size: 15px; font-weight: 400;
}
.list-typediv li .list-type01 dd {
	padding: 10px 0px; line-height: 18px;
}
.list-typediv li .list-type01 dd ul li {
	padding: 0px 10px 0px 0px; clear: both; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: inline-block;
}
.list-type02 {
	border-top-color: rgb(81, 81, 89); border-bottom-color: rgb(229, 229, 229); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.list-type02 > ul > li {
	padding: 10px 10px 20px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.list-type02 > ul > li:first-child {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.list-type02 > ul > li > a {
	display: block;
}
.list-type02 > ul > li > a > img {
	padding: 5px; border: 1px solid rgb(238, 238, 238); border-image: none; float: left; display: inline-block; box-sizing: border-box;
}
.list-type02 > ul > li > a > .story {
	width: 73%; float: right;
}
.list-type02 > ul > li > a > .story dt {
	padding-top: 10px; font-size: 15px; font-weight: 400;
}
.list-type02 > ul > li > a > .story dd {
	padding: 5px 0px; line-height: 18px;
}
.list-type02 > ul > li > a > .story dd ul li {
	padding: 0px 10px 0px 0px; clear: both; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: inline-block;
}
.errorpage {
	width: 100%; display: inline-block; box-sizing: border-box;
}
.errorpage .error_hader {
	background: rgb(239, 43, 72);
}
.errorpage .error_hader .tit {
	padding: 5px 0px 5px 20px;
}
.errorpage .error_body {
	background: rgb(241, 241, 241); padding: 47px 50px 70px;
}
.pd_l30 {
	padding-left: 20px;
}
.layerpopup {
	border: 2px solid rgb(239, 43, 72); border-image: none; width: 100%; display: inline-block; max-width: 500px; box-sizing: border-box;
}
.layerpopup > .layerpopup_hader {
	background: rgb(255, 255, 255); border-bottom-color: rgb(239, 43, 72); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.layerpopup > .layerpopup_body {
	background: rgb(255, 255, 255); padding: 20px 20px 0px; line-height: 18px; white-space: normal; -ms-word-wrap: break-word;
}
.layerpopup_tit {
	padding: 10px 20px; text-align: left; color: rgb(37, 37, 37); line-height: 22px; font-size: 18px; font-weight: 400; -ms-word-wrap: break-word; max-width: 400px;
}
@media all and (max-width:767px)
{
.map-api {
	min-height: 200px;
}
.col_1-5-s {
	width: 25%;
}
.col_sss {
	width: 100%;
}
}
@media all and (max-width:1023px)
{
.gtq-img {
	display: block;
	text-align: center
}
.gtq-img img {
	width: 100%;
}
.list-type02 > ul > li > a > img {
	padding: 0px; border: 0px currentColor; border-image: none; width: 0px; overflow: hidden;
}
.list-type02 > ul > li > a > .story {
	width: 100%; float: left;
}
.icdlimglist {
	width: 100%; display: inline-block;
}
.icdlimglist li img {
	padding: 5px; display: inline-block;
}
.errorpage .error_body {
	padding: 20px;
}
.errorpage .error_body ul {
	width: 100%; display: inline-block;
}
.pd_l30 {
	padding-left: 0px;
}
.layerpopup {
	border: 2px solid rgb(239, 43, 72); border-image: none; width: 100%; display: inline-block; box-sizing: border-box;
}
.layerpopup .layerpopup_hader {
	background: rgb(255, 255, 255); width: 100%; border-bottom-color: rgb(239, 43, 72); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block;
}
.ss-col-13 {
	width: 16.66%; margin-left: -20px; float: left;
}
.layerpopup_tit {
	padding: 5px 20px; line-height: 18px; font-size: 15px;
}
}
.cke_top {
	display: none !important;
}
.cke_bottom {
	display: none !important;
}
