@charset "utf-8";
/* header */

/* content */
.quick-wrap {position:relative;padding-top:267px;}
#subWrap {width:1000px;margin:0 auto;min-height: 650px;padding-left: 6px;}

h3.sub-title { width:100%; padding-bottom:15px; }

#sub_tab { margin-left:54px;
    margin-top: 41px;
    padding-top: 32px;
    margin-bottom: 100px;

}
.submit_info {
	padding: 3px 4px 3px 0;
	font-weight: bold;
}
.sub_form dl {
	margin-top: 10px;
}

#printWrap {width:620px;}
#printWrap table {width:602px;margin:0 8px 0 10px;vertical-align:middle;}
#printWrap th {border:1px solid #cecece;padding:5px;line-height:20px;background:#f0f0f0;}
#printWrap td {border:1px solid #cecece;line-height:20px;text-align:left;font-weight:normal;padding: 5px 5px 5px 10px;}
.img_padding {
	padding-left:2px!important;
}
#printWrap .no_padding {
	padding: 5px!important;
}
.table_bg {
	background: gray;

}
.submit_s_info {
	background: #fff;
	border: 1px solid #dfdfdf;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 12px;
	font-size: 12px;
}
.photo_info {
	font-weight: bold;
	font-size: 13px;
}
.red_text {
	color: #c43755;
}

.popup_table tbody tr:first-child {
	border-top: 3px solid #3c75ac!important;
}
/* main css */
	/* rolling css */
	#bn_bt {position:absolute;  top:0px; left:0px; z-index:3000; }
	#bn_bt li {float:left; padding-left:2px;}
	#bn_bt li a span {visibility:hidden;}
	#bn_bt li a.bt1 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt1.gif') no-repeat;}
	#bn_bt li a:hover.bt1 {background:url('../image/main/bn_bt1_on.gif') no-repeat;}
	#bn_bt li a.bt2 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt2.gif') no-repeat;}
	#bn_bt li a:hover.bt2 {background:url('../image/main/bn_bt2_on.gif') no-repeat;}
	#bn_bt li a.bt3 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt3.gif') no-repeat;}
	#bn_bt li a:hover.bt3 {background:url('../image/main/bn_bt3_on.gif') no-repeat;}
	#bn_bt li a.bt4 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt4.gif') no-repeat;}
	#bn_bt li a:hover.bt4 {background:url('../image/main/bn_bt4_on.gif') no-repeat;}
	#bn_bt li a.bt5 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt5.gif') no-repeat;}
	#bn_bt li a:hover.bt5 {background:url('../image/main/bn_bt5_on.gif') no-repeat;}
	#bn_bt li a.bt6 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt6.gif') no-repeat;}
	#bn_bt li a:hover.bt6 {background:url('../image/main/bn_bt6_on.gif') no-repeat;}
	#bn_bt li a.bt7 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt7.gif') no-repeat;}
	#bn_bt li a:hover.bt7 {background:url('../image/main/bn_bt7_on.gif') no-repeat;}
	#bn_bt li a.bt8 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt8.gif') no-repeat;}
	#bn_bt li a:hover.bt8 {background:url('../image/main/bn_bt8_on.gif') no-repeat;}
	#bn_bt li a.bt9 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt9.gif') no-repeat;}
	#bn_bt li a:hover.bt9 {background:url('../image/main/bn_bt9_on.gif') no-repeat;}
	#bn_bt li a.bt10 {display:block; width:13px; height:13px; background:url('../image/main/bn_bt10.gif') no-repeat;}
	#bn_bt li a:hover.bt10 {background:url('../image/main/bn_bt10_on.gif') no-repeat;}

	/* banner */
	#bannerWrap {width:100%;height:70px;margin-bottom:10px;background:#f7f7f7;}
	#bannerWrap .banner {position:relative;width:1080px;height:70px;margin:0 auto;}
	#bannerWrap a.left-button {position:absolute;top:31px;left:10px;}
	#bannerWrap a.right-button {position:absolute;top:31px;right:10px;}
	#bannerWrap .banner .bx-wrapper {position:absolute;top:21px;left:35px;width:900px;}
	#bannerimg li a img {
		    padding-bottom: 15px;
    		padding-top: 15px;
	}

	/* List Tab */
	#tabWrap.tab01 {background-position:0 0;}
	#tabWrap.tab02 {background-position:0 -36px;}
	#tabWrap.tab03 {background-position:0 -72px;}
	#tabWrap.tab04 {background-position:0 -108px;}

	#tabWrap h3.tab {position:absolute;top:0;width:104px;height:26px;}
	#tabWrap #tab01Title {top:0;left:0;}
	#tabWrap #tab02Title {top:0;left:106px;}
	#tabWrap #tab03Title {top:0;left:212px;}
	#tabWrap #tab04Title {top:0;left:318px;}

	#tabWrap h3.tab a {display:block;width:104px;height:26px;}
	#tabWrap .list-cont {display:none;width:320px !important;overflow:hidden;padding:15px 0 0;background-color:#fff;}
	#tabWrap .list-cont .more {position:absolute;top:7px;right:10px;}

    .list-cont h3 {
    	padding-top: 20px;
    	padding-bottom: 5px;
    	float: left;
	    width: 293px;
    }

    .more {
    	display: inline-block;
    	padding-top: 30px;
    }
	#tabWrap #tab01Box {display:block;}

	/* ui object */
	 .tbl_type,.tbl_type th,.tbl_type td{border:0;}
	 .tbl_type{width:310px;}
	 .tbl_type th span{visibility:hidden;height:23px; border:1px solid red;}
	 .tbl_type thead{height:30px;}
	 .tbl_type td{padding:5px 0; border-bottom:1px solid #e5e5e5;color:#8e8e8e;}
	 .tbl_type td:last-child {
	 	text-align: center;
	 }



/* main page css (EM)*/
	.left_area, #main__list, .right_area{float:left;}
	.visual{position:relative; float:left;}


	.visual .rigth_visual{width:382px;
						height:464px;
						overflow:hidden;
						position:relative;}
	.rigth_visual #slide{width:1146px;
						height:464px;
						position:absolute;
						top:0; left:0;}

	.rigth_visual #slide li{float:left;}

	#btn_listt a{background:url('/common/examHome/image/common/visual_btn_off.png') no-repeat;
				width:8px;
				height:7px;}
	#btn_listt a.on{background:url('/common/examHome/image/common/visual_btn_on.png') no-repeat 0 0px;}

	#btn_listt span{display:none;}
	#btn_listt{position:absolute;
			bottom:15px; left:13px;}
	#btn_listt a{float:left;
			margin-left:10px;}





	.main_btn_list{
					width:330px;
					float:left;
	}
	.main_btn_list li{
					float:left;
					width:165px;
	}
	.text_list_01 ul li, .text_list_02 ul li{line-height:17px;}
	.text_list_01 ul li:first-child, .text_list_02 ul li:first-child{margin-top:10px; background:url('/common/examHome/image/common/list_style01.gif') 20px 6px no-repeat;}
	.text_list_01, .text_list_02{padding-bottom:10px; position:relative; height:68px;}
	.text_list_01 li, .text_list_02 li{
					background:url('/common/examHome/image/common/list_style01.gif') 20px 7px no-repeat;
					padding-left:9px;
	}
	.text_list_02{
				padding-top:12px;
				padding-bottom:19px;
				position:relative;
	}

	.right_area{
				text-indent:20px;
				position:relative;
				padding:22px 0 0 0px;
				width:288px;
	}
	.right_middle{
				background-color:#ffebed;
				border-top:1px solid #dcdddd;
				border-bottom:1px solid #dcdddd;
				padding-top:15px;
				height:58px;
				line-height:1.8;
				margin-top:3px;
	}
	.right_middle li{
					background:url('/common/examHome/image/common/list_style02.gif') 20px 9px no-repeat;
					padding-left:10px;
	}
	.main_test_list h3{padding-bottom:19px;}

	.notice_list{
				padding-top:20px;
				position:relative;
				}
	.notice_list h3{padding-bottom:15px;}
	.notice_list li{
					padding-left:10px;
					line-height:1.4;
					background:url('/common/examHome/image/common/list_style01.gif') 22px 7px no-repeat;
	}
	.more_btn{
				position:absolute;
				top:26px; right:10px;
	}

	.accept_01{
				position:absolute;
				bottom:18px; right:10px;
	}
	.accept_02{
				position:absolute;
				bottom:26px; right:10px;
	}


	.qna_all {
   				position:absolute;
   				top:440px; left:0;
	}


/* subpage css */

	#sub_tab h4 {padding:0px 0px 20px;}
	#sub_tab h4.ptno {padding-top:0px;}

	#sub_tab table {margin-top:13px;margin-bottom:10px; clear: both; width:100%;}
	#sub_tab th{border:1px solid #cecece;padding:5px;line-height:20px;background:#FEEBED;vertical-align:middle; text-align:center;}
	#sub_tab td {border:1px solid #cecece;padding:5px 0;line-height:20px;text-align:center;font-weight:normal;vertical-align:middle;}
	#sub_tab td.txt-left {text-align:left;}
	#sub_tab thead .line_none{border:1px solid #cecece;}
	#sub_tab .line_none{border:1px solid #cecece;}
	#sub_tab td.text-right {text-align:right;}
	#sub_tab table.tbl-style2 td {text-align:left; padding-left:5px;}
	#sub_tab table.tbl-style3 th,
	#sub_tab table.tbl-style3 td {text-align:left;}
	#sub_tab table.tbl-style4 th,
	#sub_tab table.tbl-style4 td {vertical-align:middle;}
/* 	#sub_tab td img {padding:0px 3px;} */
	#sub_tab table.mt0 {margin:5px 0 10px 0;width:746px;vertical-align:middle;}
	#sub_tab table.info-table {width:440px;margin:5px 0;}
	.floatL tr td{
			border:1px solid red;}

	.login_li {padding-bottom: 5px;}
	#sub_tab input[type="text"],
	#sub_tab input[type="password"],
	#sub_tab input[type="email"]{padding:2px;height:18px;line-height:14px;border:1px solid #e1e1e1;}
	#sub_tab .txtarea {width:700px;height:300px;margin:10px 0;padding:10px;border:1px solid #e1e1e1;color:#7c7c7c;}
	#sub_tab .txtarea02 {width:698px;height:150px;margin-top:5px;padding:10px;border:1px solid #e1e1e1;color:#7c7c7c;line-height:20px;}
	#sub_tab .txtarea03 {width:698px;height:400px;margin-top:5px;padding:10px;border:1px solid #e1e1e1;color:#7c7c7c;line-height:20px;}

	#sub_tab .lh20 {line-height:20px;}
	#sub_tab .des02 {float:right;margin-top:-22px;color:red;}


	.list-wrap dt {padding:10px 0;}
	.list-wrap dd {padding:7px 0;line-height:22px;}
	.list-wrap dd.pd-none {padding:0}
	.list-wrap dd li {padding:0;}

	.list-wrap .sub-list {padding:10px 0 20px;}
	.list-wrap .sub-list dd {line-height:20px;}




	/* member css */
	#login {width:490px;height:200px;margin:0 auto;margin-top:50px;margin-bottom:20px;padding:45px 35px 0;}
	#login02 {height:200px;margin:0 auto;margin-top:10px; text-align: center;}

	#login .login_text {padding-bottom:10px;border-bottom:3px solid #699dcf;}
	#login fieldset {position:relative;padding:30px 0 0 0px;}
	#login fieldset .login_bt {position:absolute;top:32px;right:54px;}
	#login fieldset .find_bt {position:absolute;top:140px;left:168px;}
	#login .login-input {width:355px;margin:0 auto;height:58px;padding:0 0 20px 90px;border-bottom:1px dotted #c2c2c2;background:url('/common/examHome/image/member/login_img.gif') 25px 0 no-repeat;}
	#login .login-input li {padding:4px 0;}
	#login .login-input input {width:166px;height:18px;border:1px solid #c2c2c2;}

	#login02 li {padding-right:5px;display: inline-block;padding-top: 40px;}
	#login02 li.br-none {border-right:0;}
	
	/* 20181011추가 */
	#login03 li {padding-right:5px;padding-top: 20px; width:32%; float:left;}
	#login03 li img{width:100%;}
	#login03 li.br-none {border-right:0;}
	
	
.login-input {
	padding-bottom: 20px;
	display: inline-block;
	padding-right: 30px;
}
.line_style {

    margin-top: 0;
    padding-left:96px;
    padding-top: 160px;
}


	.member-title {padding-left:80px!important;}
	.member-des {float:right;margin-top:-22px;padding-right:80px;color:red;}

	.find-wrap {width:650px;margin:0 auto;margin-bottom:20px;}
	.find-wrap .find {position:relative;padding:30px 0 30px 150px;border:1px solid #ddd;}
	.find-wrap .find-des {padding:10px 0;color:#4b90d2;font-weight:bold;}
	.find-wrap .login-input {width:355px;}
	.find-wrap .login-input li {padding:4px 0;}
	.find-wrap .login-input input {width:170px;height:18px;border:1px solid #c2c2c2;}
	.find-wrap .find .find-btn {position:absolute;top:34px;right:160px;}

	.group-wrap {padding:30px 70px;}

.login_input {
	width: 160px!important;
}
	#pop_login {width:680px; margin:0 auto;}
	#login dl .login_text {height:28px;}
	#login dl .login_text img {margin:0 auto;}
	#login_content .login_content2 {width:445px; margin:0 auto; overflow:auto; height:82px; border-bottom: 1px dotted #c2c2c2;}
	#login_content .login_content2 dt{margin-left:25px; width:42px; float:left; _margin-left:12px;}
	#login_content .login_content2 .dd1 {margin-left:25px; float:left;}
	#login_content .login_content2 img {display:inline;}
	#login_content .login_content2 .login_input {width:166px; height:18px; border:1px solid #c2c2c2; margin-left:25px; margin-bottom:8px; margin-top:8px;}
	#login_content .login_content2 .login_input2 {width:166px; height:18px; border:1px solid #c2c2c2; margin-left:11px;}
	#login_content .login_content2 .login_bt {margin-left:15px; margin-top:6px;}
	#login_content #bt {margin:0 auto; width:236px; margin-top:20px;text-align:center;}
	.id_img {_margin-bottom:8px;}
	.join_div1 {padding-right:30px; padding-left:30px; float:left; border-right:1px dotted #c2c2c2;}
	.join_div2 {padding-left:30px; float:left;}
	#join_text {width:560px; margin:0 auto; margin-top:50px; margin-bottom:-40px;}
	.check {margin-top:10px; margin-bottom:20px;}
	.check input {vertical-align:middle;}

	.certibox01 {width:274px;height:129px;margin-right:20px;padding:15px 20px;border:1px solid #efefef;border-radius:5px;}
	.certibox02 {width:294px;height:119px;padding:20px;border:1px solid #efefef;border-radius:5px;text-align:center;}
	.certibox01 ul {padding:7px 0 10px;}
	.certibox01 ul li {padding:3px 0;}
	.certibox02 p {margin-bottom:20px;}

	#sub_tab .join_table01 th {padding:5px 0 5px 20px;text-align:left;vertical-align:middle; border:1px solid #cecece;background-color:#FEEBED;}
	#sub_tab .join_table01 td {padding:5px 5px; text-align:left; border:1px solid #cecece;}
	#sub_tab .join_table01 span {font-size:11px;}
	.join_bt {text-align:center; padding: 30px;}
	.join_img_bt {display:inline-block; vertical-align:middle;}
	.btn-style {text-align:center; width: 700px;}
	.join_bt02 {overflow:hidden; margin:0 auto; width:225px; margin-top:10px; text-align:center;}
	.join_bg {width:309px;height:157px;border:1px solid #e3e3e3;margin-top:15px;padding:0 10px;}
	.join_bg img {display:inline-block; vertical-align:bottom;}
	.children {margin-top:15px;}
	.plus_bt {float:right;}


	/* */
	#application_01_group {margin:20px auto; width:420px; height:320px; background:url('../image/application/bg_01.gif') left top no-repeat;}
	#application_01_group ul {padding-top:70px;}
	#application_01_group ul li {float:left; padding-left:72px;}
	#application_01_group ul li img {display:block;}
	.borderB {width:720px; border-bottom:1px dashed #dcdcdc; padding-bottom:20px;}
	#application {font-size:12px;}
	#application dt {margin-bottom:20px;}
	#application .inline {display:inline; vertical-align:middle;}
	#application dd {padding-bottom:5px;}
	#application input,select {vertical-align:middle; background:#ffffff; border:1px solid #e5e5e5;}
	#application_05 {width:350px; float:left;}

	.appli_bt_go {margin:30px 0 20px 0px; text-align:right;}
	.appli_bt {float:left; margin-left:225px; margin-right:3px;}
	.photo_img {margin-left:30px;}
	.plus_minus_dd {overflow:hidden;}
	.appli_plus_bt {float:left; margin-left:650px; _margin-left:325px;}
	.appli_plus_bt2 {float:left; margin-left:530px;}
	.appli_minus_bt {float:left; margin-left:3px;}


	#online {font-size:12px; float: right; width: 180px;}
	#online dt {margin-bottom:10px;}
	#online .inline {display:inline; vertical-align:middle;}
	#online dd {margin-bottom:10px;line-height:18px;}

	/* 검정안내 */
		/* 검정절차 */
		.step {margin-top:20px;}
		.step li {padding-bottom:38px;background:url('/common/examHome/image/license/bottom_arow.gif') left 60px no-repeat;}
		.step li.bg-none {padding:0;background:('');}

		/* 연간일정 */
		.sub-tit {font-size:25px;color:blue;text-align:center;}
		.info {font-weight:bold;}
		.info dt {padding:0;line-height:18px;}
		.info dd {padding:5px 15px;line-height:18px;}
		.info dd.pd-none {padding:0;}
		.info dd li strong {display:block;padding-left:10px;letter-spacing:-1px;}
		.info .fc-blue {color:blue;}

	/* 검정원서접수 */
		/* 접수하기 */
		#license_info03 {margin-top:20px;line-height:20px;}
		#license_info03 dt {padding:20px 0 5px;}

		#license_info03 .dd_box {width:676px; height:40px; border:3px solid #f0f0f0; padding:10px;}
		#license_info03 .dd_box2 {width:676px; height:60px; border:3px solid #f0f0f0; padding:10px;}
		#license_info03 .dd_box3 {width:676px; height:80px; border:3px solid #f0f0f0; padding:10px;}
		#license_info03 .green_dot {background:url('../image/license/green_dot.gif') left 8px no-repeat; padding-left:8px;}

		.img_p {margin-top:5px; margin-left:170px;}

		#license_info03 .ptno {margin-bottom:10px;padding:0;}
		#license_info03 .info-box {position:relative;float:left;width:440px;margin-left:29px;padding:65px 25px 15px 25px;overflow:hidden;margin-top:-1px;background:url('/common/examHome/image/common/bg/bg_etc_02.gif') left bottom no-repeat;}
		#license_info03 .info-img {position:absolute;top:0;left:0;width:450px;height:35px;padding:20px 20px 0;background:url('/common/examHome/image/common/bg/bg_etc_01.gif') left top no-repeat;}
		#license_info03 .info-img img {margin:0 20px;}
		#license_info03 .info-box dt {color:#000000;margin:0;padding:0;}
		#license_info03 .info-box dd {margin-bottom:10px;}
		#license_info03 .info-box .upload-info {margin-top:10px;padding:10px 15px 0;border:1px dashed #cecdcd;background-color:#f3fbfe;}
		#license_info03 .info-box .upload-info dt {color:#4f99e7;}
		#license_info03 .pt-none {padding-top:25px;}
		.borderB{width:720px;border-bottom:1px dashed #dcdcdc;padding-bottom:20px;}

 		.ht376 {clear:both;height:376px;}

		/* 입금하기_결제 */
		.font-style{font-size:13px;font-weight:bold;line-height:16px;color:#f82f1a;}
		.font-style1{font-size:13px;line-height:18px;color:#f82f1a;}
		.font-style2{font-size:13px;font-weight:bold;line-height:18px;color:#0000ff;}


		/* 사진관리 */
		.card_photo {position:relative; width: 400px; height: 254px; background:url('/common/examHome/image/common/img_license_photo.png') no-repeat center; padding-left:22px;}
		.card_photo img {position:absolute;height: 135px;left: 40px;top: 81px;width: 107px;}

		.card_photo1 {position:relative; width: 400px; height: 10px; background:url('/common/examHome/image/common/img_license_photo.png') no-repeat center; padding-left:22px;}
		.card_photo1 img {position:absolute;height: 135px;left: 38px;top: 81px;width: 107px;}

		.appli_table1 {width:720px;height:265px;border:1px solid #cecece;}
		.appli_table1 dt {width:400px;float:left;}
		.appli_table1 dd {width:318px;height:265px;float:right;border-left:1px solid #cecece;}

		.appli_table2 {width:720px;border:1px solid #cecece;border-top:0;}
		.appli_table2 dt {width:718px;border-bottom:1px solid #cecece;padding:7px 0;text-align:center;}
		.appli_table2 dd {width:704px;line-height:18px;padding:7px;}
	/* 정보마당 */

		/* 자격증 발급 안내 */
		.box01 {padding:5px;border:1px solid #cecece;text-align:center;}
		.list01 .lh18 {line-height:18px;padding:3px 0;}
		.list01 dt {padding:10px 0 5px;}
		.list01 dd {padding:3px 0;line-height:16px;}
		.list01 dd ul {margin-bottom:5px;}
		.list01 dd ul li {line-height:20px;}
		#sub_tab .list01 dd table {margin:0;}
		.list01 dd.info_dlstyle1 {width:680px;padding:20px; border:5px solid #e8e8e8}
		.info_dlstyle1 dt {padding:0;color:#363636;font-weight:bold}
		.info_dlstyle1 dd {padding:5px 0 0;}

		/* 자격취득혜택 */
		.imgbox {float:left;margin-right:15px;}
		.tablebox {float:right;width:525px;}
		#sub_tab .tablebox table{width:100%;}
		#sub_tab .tablebox table td.align_left {text-align:left;padding-left:10px;}


		#information07_box {width:700px; border:10px solid #f0f0f0;}
		#information07_box dl {padding:10px 15px;}
		#information07_box dl dt{display:block; padding-bottom:10px;}
		#information07_box dl dd{font-size:12px; line-height:18px; text-align:justify;}

		/* 수검준비물 */
		#tabmenu ul li span {visibility:hidden;}
		#tabmenu_body01 { text-align:left; margin-top:23px; width:720px; *margin-left:0;}
		#tabmenu_body01 ul li {margin-top:9px; font-size:12px; color:#7c7c7c;}
		#tabmenu_body01 ul li.tit {margin-top:20px; height:14px;}
		#tabmenu_body01 ul li.tit2 {height:14px; line-height:0; margin-top:20px;}
		#tabmenu_body01 ul li.tit2 img{vertical-align:-3px; display:inline; margin-right:5px;}
		#tabmenu_body01 dl {margin-top:5px;}
		#tabmenu_body01 dl dt {background:url('../image/license/green_dot.gif') left 12px no-repeat; padding:5px 0px 3px 8px;}
		#tabmenu_body01 dl dt.point_blue {background:url('');}
		#tabmenu_body01 dl dd {line-height:18px;}
		#tabmenu_body01 dl dd ul {padding:0 10px;}
		#tabmenu_body01 dl dd ul li {margin:0;line-height:18px;}


		#sub_tab .dec_box {padding:10px 20px;border:3px solid #f0f0f0;line-height:20px;}
		#info {font-size:12px; line-height:20px;}
		#info dt {margin-top:10px; margin-bottom:7px;}
		#info .green_dot {background:url('../image/license/green_dot.gif') left 40% no-repeat; padding-left:8px;}

		/* 교재안내 */
		.book-list li.book-list-wrap {float:left;width:300px;height:100px;padding:20px;	}
		.book-list dt {float:left;width:80px;}
		.book-list dt img {width:80px;height:100px;}
		.book-list dd {float:left;width:200px;padding:5px;	}
		.book-list dd ul li {width:200px;padding:4px 0;line-height:14px;}

	/* 전자민원신청 */
		#sub_tab td .delivery-wrap img {padding:0;}
		.delivery-wrap {position:relative;width:73px;height:50px; margin: 0 auto;}
		.delivery-wrap .btn-deliver {width:73px;height:40px;}
		.layer-deliver span {
			min-width: 50px;
			display: inline-block;
		}
		.btn_wrap {
			display: inline-block;
			text-align: center;
			padding-top: 20px;
			width: 100%;

		}
		.delivery-wrap .layer-deliver {position:absolute;top:0px;right:85px;display:none;width:315px;height:145px;padding:20px;background-color:#fff;border:1px solid #000;text-align: left;}
		.delivery-wrap .layer-deliver .layer-close {position:absolute;top:5px;right:5px;width:17px;height:17px;}

		/* 합격확인서 발급 */
		#printWrap.infoprint-wrap {width:620px;padding:5px;}
		#printWrap.infoprint-wrap table {width:100%;margin:0;border:0;}
		#printWrap.infoprint-wrap table td {border:0;}

		#printWrap.infoprint-wrap table.print-table {width:80%;margin:0 auto;text-align:center;}
		#printWrap.infoprint-wrap table.print-table th {border:0;background-color:#fff;}
		#printWrap.infoprint-wrap table.print-table td {padding-left:30px;line-height:16px;}

	#sub_tab .item table {width:100%;margin:0;}
	#sub_tab .item table td {padding:0;border:0;}
	#sub_tab .item table td img {padding:0;}

/* board_list */
#sub_tab .board_list th {padding:9px 0;height:11px;line-height:0;/*background:url('/common/examHome/image/customer/board_top_bg.gif') 0 0 repeat-x;*/}
#sub_tab .board_list th.tit_left { width:71px;text-align:center;/* background:url('/common/examHome/image/customer/board_top_left_bg.gif') 0 0 no-repeat;*/}
#sub_tab .board_list th.tit_right { width:79px;text-align:center; /*background:url('/common/examHome/image/customer/board_top_right_bg.gif') 0 0 no-repeat; */}
#sub_tab .board_list th.tit_right2 { width:95px;text-align:center;/* background:url('/common/examHome/image/customer/board_top_right_bg.gif') 0 0 no-repeat; */border:0;}
#sub_tab .board_list td {color:#7c7c7c;height:20px;border:0;border:1px solid #cecece;}
#sub_tab .board_list td.text { color:#545454; text-align:left; padding-left:10px; font-size:12px;}
#sub_tab .board_list td.text a { color:#545454;}
#sub_tab .board_list td.text a:hover{ color:#1b87ee; font-size:12px;}
#sub_tab .board_list td.faq {background:#f0efef; color:#757575; text-align:left; padding:10px; font-size:12px; width:720px; display:none; position:relative;}

#sub_tab .board_list td.btn-txt {padding:9px 0;height:11px;line-height:0;}

/* paging css */
.paginate_complex{padding:15px 0;line-height:normal;text-align:center}
.paginate_complex a {display:inline-block;position:relative;z-index:2;margin:0 -3px;padding:1px 8px;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background-color:#fff; font:11px/16px Tahoma,Sans-serif;color:#555555;text-decoration:none;vertical-align:top}
.paginate_complex strong{display:inline-block;position:relative;z-index:2;margin:0 -3px;padding:1px 8px;border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background-color:#fff; font:bold 11px/16px Tahoma,Sans-serif;color:#555555;text-decoration:none;vertical-align:top}
.paginate_complex a:hover,
.paginate_complex a:active,
.paginate_complex a:focus{background-color:#f8f8f8;text-decoration:none}
.paginate_complex strong{color:#ff8600}
.paginate_complex .direction{border:0;font-weight:normal;color:#767676;text-decoration:none !important;z-index:1}
.paginate_complex .direction:hover,
.paginate_complex .direction:active,
.paginate_complex .direction:focus{color:#323232;background-color:#fff}
.paginate_complex .prev{border-left:0}
.paginate_complex .next{border-right:0}
.paginate_complex .direction span{display:inline-block;position:relative;top:4px;width:0;height:0;font-size:0;line-height:0;vertical-align:top}
.paginate_complex .prev span{*left:-4px;margin-right:1px;border:3px solid;border-top:solid #fff;border-bottom:solid #fff;border-left:0}
.paginate_complex .next span{margin-left:1px;border:3px solid;border-top:solid #fff;border-bottom:solid #fff;border-right:0}


/* footer */
.bottom_logo {position:absolute;top:38px;left:4px;}
.qr {position:absolute;top:11px;left:215px;}
.adr {position:absolute;top:15px;}
.familly {position:absolute;top:41px;right:4px;}

#slide_logo {height:70px; width:1080px; }
#slide_logo li {float:left; padding-left:25px;}
#slide_logo li.left {float:left; vertical-align:middle; padding-top:10px;}
#slide_logo li.right {float:right; vertical-align:middle; padding:0; padding-top:10px;}
#slide_logo li img {vertical-align:middle; display:block;}

.bottom_link {width:350px;height:10px;}
.bottom_link li { float:left;height:10px;padding:0;margin:0;font-size:0;line-height:0;text-align:left;}
.bottom_link li img{padding:0; margin:0; float:left;}
.adr2 {padding-top:6px; width:343px; height:40px;float:none;}
.adr2 img {display:block;float:none;}
.adr_float li{float:left; padding:0; margin:0;display:block}
.adr_float:after {content:""; display:block; clear:both; height:0; visibility:hidden;}

.selec {border:1px solid #a0a0a0; width:138px; height:21px;margin-right:3px; text-align:center; font-size:11px; color:#5b5b5b;}
.address_copy{margin-top:15px;}
.adr{
	margin-top:10px;
	width:980px;
	padding-left:20px;
}
.adr select{
			margin-left:25px;
			margin-bottom:5px;
			width:118px;
			height:22px;
}
.footer_list li{
				float:left;
				padding-left:10px;
}
.footer_list li:first-child{padding-left:0;}
.under_info{position:absolute;
			top:10px; right:10px;}

/* window popup */
. pop-wrap {width:100%;margin:0 auto;padding:0; /*background: black;*/}
.pop-wrap .pop-chk {margin:10px 0;}
.pop-wrap .pop-chk input {vertical-align:-1px;}
.pop-wrap .pop-chk label {margin:0 3px;vertical-align:middle;}
.pop-wrap .pop-chk strong {vertical-align:middle;}


/* popup-layer */
.layer-wrap {display:none;position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:999;}
.layer-wrap .layer-bg {position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.4;filter:alpha(opacity=40)}
#popLayer {position:absolute;top:120px;left:27%;width:700px;margin:0 auto;padding:10px;background:#fff;}
#popLayer h4{margin-bottom:5px;font-size:14px;color:#2c2c2c;}
#popLayer .layer-table {width:700px;vertical-align:middle;border-top:3px solid #133c7b;text-align:left}
#popLayer .layer-table th {border:1px solid #cecece;padding:5px;line-height:20px;background:#f1f1f1;}
#popLayer .layer-table td {border:1px solid #cecece;padding:5px;line-height:20px;background:#f9f9f9;}
#popLayer .layer-btn {padding-top:10px;text-align:center;}
#popLayer .layer-btn img {margin:0 5px;}
#popLayer .close {position:absolute;top:7px;right:10px;}

/* loading position:relative position:absolute*/
/*#loadingWrap {z-index:99999;position:absolute;top:0;left:0;width:100%;height:1500px;margin:-300px 0 0;text-align:center;background-color:#fff;opacity:0.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);}
#loadingWrap .loading {z-index:999999;padding:550px 0 0;}*/

#pop{display:none;}
#pop_01{display:none;}
#pop_02{display:none;}

.mw {position:fixed;top:0;left:0;width:100%;height:100%;}
.mw .bg {position:absolute;top:0;left:0;width:100%;height:100%;background:#2189d2;opacity:.4;filter:alpha(opacity=40)}
.mw .pop_box {position:absolute;top:55%;left:50%;z-index:900;width:450px;height:150px;margin:-200px 0 0 -247px;padding:10px 20px 0;border:3px solid #ccc;background:#fff;}
.mw .pop_box h4 {margin-bottom:5px;font-size:14px;color:#2c2c2c;letter-spacing:-1px;line-height:20px}


.mw .pop_box .pop_box_s {zoom:1;position:relative;width:191px;height:300px;border:1px solid #d6d7d6;overflow-x:hidden;overflow-y:scroll;border-top:0px;}
.mw .pop_box .pop_box_s .menu_vv{width:174px;height:300px;line-height:13px;}
.mw .pop_box .pop_box_s .menu_vv input.step_01{vertical-align:middle;padding:0;margin:0 0 0 5px;width:13px;height:13px;}
.mw .pop_box .pop_box_s .menu_vv input.step_02{vertical-align:middle;padding:0;margin:0 0 0 5px;width:13px;height:13px;}
.mw .pop_box .pop_box_s .menu_vv ul{margin:0;padding:0;list-style:none;height:100%;}
.mw .pop_box .pop_box_s .menu_vv li{position:relative;margin:0 0 -1px 0;vertical-align:top;*zoom:1}
.mw .pop_box .pop_box_s .menu_vv li a{display:block;position:relative;padding:9px 30px 7px 30px;color:#666;font-weight:bold;text-decoration:none;background:url(../img/left/btn_bg_off.gif) repeat-x; border:1px solid #b9b9b9;*zoom:1}
.mw .pop_box .pop_box_s .menu_vv li a .i{position:absolute;top:50%;left:12%;width:9px;height:9px;margin:-5px 0 0 -10px;color:#ccc;background:url(../img/left/ico_sub.gif) no-repeat left top}
.mw .pop_box .pop_box_s .menu_vv li ul{padding:0;}
.mw .pop_box .pop_box_s .menu_vv li li{margin:0}
.mw .pop_box .pop_box_s .menu_vv li li a{padding:9px 10px 7px 10px;border:0;background:url(../img/left/btn_bg_on.gif) repeat-x; font-weight:normal;}
.mw .pop_box .pop_box_s .menu_vv li li a span{color:#666;background:url(../img/left/icon_01.gif) no-repeat 13px 0;padding-left:30px;}
.mw .pop_box .pop_box_s .menu_vv li li a span .i{position:absolute;top:50%;left:12%;width:9px;height:9px;margin:-5px 0 0 -10px;color:#ccc;background:url(../img/left/ico_sub.gif) no-repeat left top}
.mw .pop_box .pop_box_s .menu_vv li.active{z-index:2;border:1px solid #70b11b}
.mw .pop_box .pop_box_s .menu_vv li li.active{border:0}
.mw .pop_box .pop_box_s .menu_vv li.active a{border:0;color:#000;}
.mw .pop_box .pop_box_s .menu_vv li.active .i{background-position:0 -41px}
.mw .pop_box .pop_box_s .menu_vv li.active li a{border:0}
.mw .pop_box .pop_box_s .menu_vv li.active ul{display:block;border-top:1px solid #b6b6b6}
.mw .pop_box .pop_box_s .menu_vv li.active li.active a span{font-weight:bold;color:#2178c7;letter-spacing:-1px}
.mw .pop_box .pop_box_s .menu_vv .menu_03 li a{padding:10px 10px 0 10px;border:0;background:#fff;font-weight:normal;height:22px;}
.mw .pop_box .pop_box_s .menu_vv .menu_03 li a span{color:#666;background:url(../img/left/icon_02.gif) no-repeat 26px 0;padding-left:45px;}
.mw .pop_box .pop_box_s .menu_vv li.active li.active li a span{font-weight:normal;color:#616060;letter-spacing:-1px}
.mw .pop_box .pop_box_s .menu_vv li.active li.active li.active a span{font-weight:bold;color:#2178c7;letter-spacing:-1px}



.mw .pop_box table.pop_table{width:100%;border-top:2px solid #4fa4d4;margin-top:10px;}
.mw .pop_box table.pop_table{width:100%;font-size:12px; font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;border-collapse:collapse;border-right:1px solid #d6d7d6;}
.mw .pop_box table.pop_table caption{display:none;}
.mw .pop_box table.pop_table th{text-align:center;background-color:#f1f1f1;padding:8px;border-left:1px solid #d6d7d6;border-bottom:1px solid #d6d7d6;font:bold 12px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;color:#595959;}
.mw .pop_box table.pop_table td{color:#777; text-align:left;border-bottom:1px solid #d6d7d6;padding:8px;border-left:1px solid #d6d7d6;background-color:#f9f9f9;vertical-align:middle;}
.mw .pop_box table.pop_table td.center {color:#777; text-align:center;border-bottom:1px solid #d6d7d6;padding:8px;border-left:1px solid #d6d7d6;background-color:#f9f9f9;vertical-align:middle;}

.mw .pop_box table.pop_table_01{width:99%;border-top:2px solid #4fa4d4;}
.mw .pop_box table.pop_table_01{width:100%;font-size:12px; font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;border-collapse:collapse;border-right:1px solid #d6d7d6;}
.mw .pop_box table.pop_table_01 caption{display:none;}
.mw .pop_box table.pop_table_01 thead th{padding:9px 0 7px;border-right:1px solid #d6d7d6;border-left:1px solid #d6d7d6;background-color:#f1f1f1;color:#666;font-family:'돋움',dotum;font-size:12px;font-weight:bold}
.mw .pop_box table.pop_table_01 tbody td {padding:8px;border:1px solid #d6d7d6;color:#4c4c4c;text-align:center;}
.mw .pop_box table.pop_table_01 tbody td a, a:hover, a:active{color:#c63441;}
.mw .pop_box .table_height {height:320px; overflow:auto;}

.mw .pop_box .pop_table {width: 100%;border-top: 2px solid #4fa4d4;margin-top: 10px;}
.mw .pop_box .pop_table table {width: 100%;border-right: 1px solid #d6d7d6;}
.mw .pop_box .pop_table table th {text-align: center;background-color: #f1f1f1;padding: 8px;border-left: 1px solid #d6d7d6;border-bottom: 1px solid #d6d7d6;color: #595959;}
.mw .pop_box .pop_table table td {color: #777;text-align: left;border-bottom: 1px solid #d6d7d6;padding: 8px;border-left: 1px solid #d6d7d6;background-color: #f9f9f9;vertical-align: middle;}

.mw .pop_box .pop_table .item{margin:-4px 0}
.mw .pop_box .pop_table .item .i_text{position:relative;margin:2px;padding:3px 4px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:#fff;vertical-align:middle;}
.mw .pop_box .pop_table .item .i_file{position:relative;margin:2px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:#fff;vertical-align:middle;height:20px;}
.mw .pop_box .pop_table .item select{margin:4px 2px;vertical-align:middle;}
.mw .pop_box .pop_table .item .i_check,
.mw .pop_box .pop_table .item .i_radio{width:13px;height:13px;margin:7px 5px 3px 0;padding:0;vertical-align:middle;float:left;}
.mw .pop_box .pop_table .item label{margin:9px 10px 0 0;cursor:pointer;display:block;float:left;}
.mw .pop_box .pop_table .item img.date{width:14px;height:13px;padding:7px 5px;vertical-align:top;}
.mw .pop_box .pop_table table input.text{padding:3px 4px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:#fff;vertical-align:middle;}
.mw .pop_box .pop_table table input.file{border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:#fff;vertical-align:middle;height:20px;}
.mw .pop_box .pop_table table select{margin:-2px 2px 0;vertical-align:middle;}
.mw .pop_box .pop_table table  .item .img_btn{vertical-align:middle;}

.mw .pop_box .pop_table table .photo {vertical-align:middle;}
.mw .pop_box .pop_table table .photo em { border: 1px solid #d7d7d7;width:95px;display: block;margin:0 auto;}
.mw .pop_box .pop_table .photo em img.boder {border: 5px solid #ffffff;}


.mw .pop_box .pop_table_01 table .item{margin:-4px 0}
.mw .pop_box .pop_table_01 table .item .i_text{position:relative;margin:2px;padding:3px 4px;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:#fff;vertical-align:middle;}
.mw .pop_box .pop_table_01 table .item select{margin:4px 2px;vertical-align:middle;}
.mw .pop_box .pop_table_01 table .item .i_check,
.mw .pop_box .pop_table_01 .item .i_radio{width:13px;height:13px;margin:7px 5px 3px 0;padding:0;vertical-align:middle;float:left;}
.mw .pop_box .pop_table_01 .item label{margin:9px 10px 0 0;cursor:pointer;display:block;float:left;}
.mw .pop_box .pop_table_01 .item img.date{width:14px;height:13px;padding:7px 5px;vertical-align:top;}

.mw .pop_box .text{clear:both;margin-top:15px;padding:5px 0;text-align:center;font-size:11px; font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;color:#989898;}
.mw .pop_box .btn{clear:both;margin-top:15px;padding:10px 0;border-top:1px solid #e5e5e5;text-align:center}
.mw .pop_box .btn_r{clear:both;margin-top:15px;padding:10px 0;border-top:1px solid #e5e5e5;text-align:right}
.mw .pop_box .btn img{vertical-align:top;}
.mw .pop_box .clse{position:absolute;top:8px;right:8px}


body, p, dl, dt, dd, table, tr, td {
    color: #3a3a3a;
    font-size: 12px;
    letter-spacing: -0.5px;
    line-height: 1.6;
}


.adr p {
	font-size:11px;

}

.double_line {
	border-top-style: double!important;
	border-top-color: #cecece;
}
table {

}
.login_text {
	display: inline-block;
	width: 100px;
}

.login_bg {
	height: 376px!important;
	background: url(/common/examHome/image/member/bg_login.jpg) no-repeat;
	border: 1px solid #e5e5e5!important;
    margin-bottom: 100px!important;

    width: 689px!important;

}
.confirm {
	text-align:center;
    padding-top:70px;
}
.confirm a:first-child {
	padding-right: 20px;
}
.table_left {
	padding-left: 20px!important;
    text-align: left!important;
}

.hover_line {
	color: black!important;
	font-weight: bold;
}

.border_left {
	border-left: 1px solid #efefef;
}

.border_right {
	border-right: 1px solid #efefef;
}

.book_bg {
	background-color: #fbfbfb;
    border-top: 3px solid #133c7b;
    margin-top: 8px;
}

.menu_navigation {
	height: 35px;
	color: #7d7d7d!important;
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.main_tr_bgc {
	background-color: #eee;
}
.main_tr_bgc th {
	vertical-align: middle;
}

.ceti_print_wrap {
	width: 800px!important;
	height: 1133px;
	display: block;
	margin: 0 auto;
	position: relative;
}
.ceti_bg_img {
	display: block;
	position: absolute;
	top: 0;
	z-index:1;
}

.ceti_print_wrap ul {
	z-index: 111;
	display: block;
	position: absolute;
	top: 70px;
	left: 124px;
}
.ceti_print_wrap ul li:first-child {
	padding-bottom: 200px;
	font-size: 15px;
}

.ceti_print_wrap ul li{
	padding-bottom: 20px;
	font-size: 17px;
	font-weight: bold;
}
.ceti_print_wrap ul li p {
	padding-left: 140px;
	margin-top: -32px;
	font-size: 17px;
	font-weight: bold;
}
.login_input {
	ime-mode:disabled;
}
.main_text {
	color: #3d3d3d;
	font-size: 18px;
	font-weight: 500;
}
.board_line {
	margin: 20px auto;
	width: 1000px;
	position: relative;
}
.list-cont {
	width: 303px;
	border: 1px solid #dddddd;
	padding: 11px;
	display: inline-block;
}

#tab01Box {
	height: 370px;
}
#tab02Box, #tab03Box {
	height: 250px;
}
.a1 {
	background: url("/common/examHome/image/main/menu_01.png")no-repeat center 30px;
}
.a2 {
	background: url("/common/examHome/image/main/menu_02.png")no-repeat center 30px;
}
.a3 {
	background: url("/common/examHome/image/main/menu_03.png")no-repeat center 30px;
}
.a4 {
	background: url("/common/examHome/image/main/menu_04.png")no-repeat center 30px;
}
.a5 {
	background: url("/common/examHome/image/main/menu_05.png")no-repeat center 30px;
}
.a6 {
	background: url("/common/examHome/image/main/menu_06.png")no-repeat center 40px;
}
.sub_menu ul {
	border: 1px solid #dedede;
	height: 111px;
	width: 661px;
}
.sub_menu_wrap {
	position: absolute;
	right: 2px;
	top:281px;
}

.sub_menu span {
	display: block;
	padding-top: 73px;
}

.sub_menu li {
	display: inline-block;
	height: 100%;
	text-align: center;
	width: 127px;
}
.sub_menu li:last-child {
	width: 127px;
}
.sub_menu li:first-child{
	width:138px;
}
.s01 {
	background: url("/common/examHome/image/main/sub_menu/s01_samilinfo.png")no-repeat center 20px;
}
.s02 {
	background: url("/common/examHome/image/main/sub_menu/s02_guide.png")no-repeat center 20px;
}
.s03 {
	background: url("/common/examHome/image/main/sub_menu/s03_myexam.png")no-repeat center 25px;
}
.s04 {
	background: url("/common/examHome/image/main/sub_menu/s04_bookinfo.png")no-repeat center 20px;
}
.s05 {
	background: url("/common/examHome/image/main/sub_menu/s05_customer.png")no-repeat center 20px;
}

.sub_menu li:hover {
	background-color:#eee;
}
#search_input {
	width: 140px;
	height: 100%;
	background: #bcbfc7;
	padding-left: 10px;
	border: none;

}
.search_zone {
	position: absolute;
	height: 100%;
	right: 0;
	display: inline-block;
}
.search_zone img {
	position: absolute;
	right: 0;
	top: 0;
}
.gnb_zone {
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.side_title {
			border-bottom:1px solid #f4301e;

}





/* promise_print_page*/
.promise_print{
				width:85%;
				margin:0 auto;
				z-index:111;
}
.promise_print h3{
				font-size:24px;
				padding:80px 0 40px 0;
}
.print_con{
			margin-bottom:30px;
			text-align:left;
}

.num_list li{
			padding-bottom:25px;
			font-weight:bold;
			width:90%;
			text-align:left;
}
.num_date{margin-bottom:10px;}
.print_info{text-align:left;
			width:85%;
			margin:30px 0 40px 0;}
.num_under{font-size:20px;
			font-weight:bold;}


/*print_2*/
#printWrap{widht:100%;
			font-family:"바탕체",BatangChe;
			font-size:15px;}
.promise_print{
				width:80%;
				padding-top:17%;
}
.p_header1{
		font-size:29px;
		padding-bottom:20%;
}
.printcon_list li{line-height:0.6;}
.print_last_list{
				font-weight:bold;
				padding:10% 0;
				position:relative;
				z-index:110;
				/*background:url('../image/sub/printtt.png') no-repeat 315px 220px;*/
}
.print_e{position:absolute;
			bottom:-15%; right:22%;}
.print_datee{padding:10% 0;}
.last_namee{font-size:27px;}
.print_firstt{text-align:left;
			line-height:2.5;}
.print_firstt, .print_datee{font-size:14px;}
.printttt{position:absolute;
		bottom:20px; right:90px;
		z-index:-1;}

/* sitemap page */

.map_list_01, .map_list_02, .map_list_03{clear:both;
										margin-top:15px;}
.map_01 > li, .map_02 > li, .map_03 > li{
										float:left;
										width:40%;
										padding-left:5px;
										padding-bottom:40px;
}
.map_01 li ul li, .map_02 li ul li, .map_03 li ul li{clear:both;
													line-height:1.7;
													margin-top:10px;
													padding-left:5px;
}

.map_01 li ul li:first-child, .map_02 li ul li:first-child, .map_03 li ul li:first-child{
																						border-top:1px solid #E2E1DD;
																						padding-top:12px;
}
.pleft{margin-left:70px;}


/*560_print, 740_print*/

.photo560{
			border:0px;
			width:51px;
			height:141px;
			position:relative;
			float:right;
			padding:14% 0 3% 0;
			margin-left:10px;
}
.promise_print2{
				padding-top:15%;
				width:85%;
				position:relative;
}
.promise_print2 h3{
				font-size:27px;
				padding-left:44%;
				padding-bottom:5%;
}
.listttt{
		overflow:hidden;

}

.print_underconn{
		padding-left:10px;
		margin-top:30px;
		font-size:12px;
		line-height:1.6;

}
.listttt ul{padding:5% 0 10% 3%;}
.listttt ul li{font-size:15px !important; line-height:1.8;}
.promise_print2 th{
					vertical-align:middle;
					background-color:#FEEBED;
}
.promise_print2 td{text-align:center !important;}
.table_back th{background:#FEEBED !important;}
.under_list2{font-weight:bold;
			font-size:25px;
			position:relative;
			padding-top:20%;
			display:inline-block;
			overflow:hidden;
			width:100%;
			text-align:center;
}
.printttt2{position:absolute; top:0; right:-20px;}
#560_ul{border:1px solid red; display:inline-block;}

.under_list22{position:relative; z-index:110;
			position:fixed; bottom:5%;
			display:block; left:30%;
			text-align:center;}
.printttt22{position:absolute;
			bottom:-32px; right:0px;
			z-index:-1;}
.under_nameee{font-size:24px; display:block; font-weight:bold; text-align:center; padding-top:7%;}



/*footer_email*/
.email_con1{padding-bottom:20px;}
.email_con2{padding-bottom:15px;}
.email_con3{border:1px solid #e1e1e1;
			padding:10px;}
.email_con3 span{padding-bottom:10px; display:inline-block;}
.email_con3 li{line-height:1.5;}


/*240_print*/
#print240{padding-top:22%;}
#print240 th{vertical-align:middle; background-color:#FEEBED; height: 26px;}
#print240 td{vertical-align:middle;  height: 26px;}
#print240 h3{font-size:30px;
			padding-bottom:8%;
			font-weight:bold;
			text-align:center;}
#print240 table{width:70%; margin:0 auto; padding-top:20px;}
.under_textt{line-height:1.7;
			padding:40px 0;
			width:70%;
			margin:0 auto;}
.boldd{font-weight:bold; text-align:center; padding-bottom:15%}
.under_namee3{font-size:26px; font-weight:bold; text-align:center;}
.under_list23{position:relative; z-index:110;}
.printttt23{position:absolute;
			bottom:-31px; right:165px;
			z-index:-1;}


/*id_pw_search*/
#id_searchh{padding-bottom:40px; position:relative;}
#id_searchh td input[type="email"], #pw_searchh td input[type="email"]{padding:2px;height:18px;line-height:14px;border:1px solid #e1e1e1;}
#id_searchh h3{background:url('../image/common/list_style_btn.gif') no-repeat 0 10px; padding-left:10px;}
.ok_btnn{position:absolute;
		bottom:0; right:0;}

#pw_searchh {padding-bottom:10px; position:absolute; left:90px; top:150px; text-align:center; }
{text-align:left;}
#pw_searchh h3{background:url('../image/common/list_style_btn.gif') no-repeat 0 10px; padding-left:10px;}
#pw_searchh .typo { font-size:15px; margin-top:13px; }
#pw_searchh .point { font-size:21px; font-weight:bold; }
#pw_searchh .typo2 { margin-left:30px; font-size:13px; font-weight:bold; }

/*id_search*/
.ok_btnnc{text-align:center; padding-top:15px;}

/*pw_search*/
#id_search table, #pw_search table{margin:0 auto;}
#id_searchh td, #pw_searchh td, #id_search td, #pw_search td{text-align:left; padding-left:10px;}


.first_numm{
	padding-top:8px;
	font-weight:bold;
}
.sub_form form{padding:10px 0;}
.ing_method h3{padding-bottom:5px;}





/*photo*/

#photo_tablee td{
	border:none;
}


#photo_tablee2 td{
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	border-right:none;
	border-left:none;
	background:#fafafa;
}

.group_agree {font-size:12px !important; font-weight:bold;}
.group_div {border:1px solid #cecece;padding:7px;width:615px;}
.group_detail{width:65px; background-color:#e40428; border:0px; height:22px; font-size:10px; color:white; border-radius:2px; float:right;}
.group_td {padding:17px !important;}
.group_div2{padding-right:45px; padding-top:10px;}
.group_div3{margin-top:10px;width:626px;}
.group_div3 span{color:red; font-weight:bold;}

/* 보수교육 추가 - 2022-06 */
.notice_txt {margin-bottom: 45px; padding: 20px 30px; border: 1px solid #cecece;}
.notice_txt .txt {line-height: 20px;}
.notice_txt .icon_license {padding-left: 65px; background-size: contain; background-position: 10px center; background-image:url('../image/petition/icon_license.png'); background-repeat: no-repeat;}

.bosu_table td {word-break: keep-all;}
.bosu_table span {display: block;}
.bosu_table .btn_video{/* background:url('https://via.placeholder.com/150') no-repeat; */}
.bosu_table .btn_video {padding: 0 8px; /* width: 25px; */ height: 25px; font-size: 0; line-height: 25px; border-radius: 5px; background-color: #e1dcd7;}
.bosu_table .btn_video:after {content: '▶'; color: #f4301e; font-size: 15px;}
.bosu_table .btn_link {display: inline-block; padding: 0 8px; color: #fff; font-weight: bold; line-height: 25px; border-radius: 5px; background-color: #f4301e;}
.bosu_table .btn_down {display: inline-block; padding: 0 8px; line-height: 25px; color: #f33422; font-weight: bold; border-radius: 5px; background-color: #e1dcd7;}

.bosu_table .point td:nth-of-type(4) {color: red; font-weight: bold;}
.bosu_table .point td:nth-of-type(5) {font-weight: bold;}
.bosu_table .point td .date {display: block; font-weight: bold; line-height: 25px; /* color: red; */}

#sub_tab .bosu_table td {padding: 10px 5px; line-height: 15px;}

/* 버튼 추가 - 2022-07 */
.btn_link2 {display: inline-block; padding: 5px 8px; color: #fff !important; font-weight: bold; line-height: 15px; border-radius: 5px; background-color: #f4301e;}



