#pager ul.pages {
display:block;
border:none;
text-transform:uppercase;
font-size:10px;
margin:10px 0 50px;
padding:0;
}

#pager ul.pages li {
list-style:none;
float:left;
border:1px solid #ccc;
text-decoration:none;
margin:0 5px 0 0;
padding:5px;
}

#pager ul.pages li:hover {
border:1px solid #003f7e;
}

#pager ul.pages li.pgEmpty {
border:1px solid #eee;
color:#eee;
}

#pager ul.pages li.pgCurrent {
border:1px solid #003f7e;
color:#000;
font-weight:700;
background-color:#eee;
}

#pager{
	text-align:center;
	vertical-align:bottom;
}
#pager p{
	margin:10px 0 0 0;
	padding:0;
	vertical-align:bottom;
}
#pager p span{
	padding:6px 8px;
	margin:0 2px;
	cursor:pointer;
	font-size:13px;
}
#pager p span.page-number{
	margin:2px -3px;
	line-height: 200%;
	font-size:13px;
}
#pager p span.pgCurrent{
	margin:2px -3px;
	line-height: 200%;
	font-weight:bold;
	color:#ff8600;
	font-size:13px;
}
#pager p span.first{background:url("/common/image/icon_arrow01.gif") no-repeat 0 20%;}
#pager p span.prev{background:url("/common/image/icon_arrow02.gif") no-repeat 0 20%;}
#pager p span.next{background:url("/common/image/icon_arrow03.gif") no-repeat 0 20%;}
#pager p span.last{background:url("/common/image/icon_arrow04.gif") no-repeat 0 20%;}
