
<!--###################################-->
<!--########   아래는 추가부분   #############-->
<!--########  common.css에 변경/추가  #############-->
<!--###################################-->
body{font-family: "나눔고딕",nanumgothic,"맑은 고딕", "돋움", dotum, arial, sans-serif;}

.f_orange{color:#ff4800 !important;}

<!--###################################-->
<!--########   아래는 추가부분   #############-->
<!--########  license.css에 변경/추가  #############-->
.iden_box {padding:0 0 30px 0;border-bottom:none !important;}/* line 915*/


<!--###################################-->
<!--###################################-->
<!--########   아래는 추가부분   #############-->
<!--########  layout.css에 추가  #############-->
<!--###################################-->
.content_main .banner_m_right span{display:block; margin-top:10px; width:99px; height:160px;}/* 추가부분 20141120 */

/* 추가부분 - 메인 아이핀 안내*/
.cur_p{cursor:pointer;}
.blind{display:none;}
.pop_ipininfo_back{position:absolute; width:100%; height:100%; display:block; opacity:0.3;  background-color:#000; top:0px; left:0px; z-index:10;}

.pop_mipininfo{width:652px; height:485px; z-index:100; overflow:hidden; border:1px solid #000; background-color:#fff; }
.cipininfo{width:100%; height:456px; z-index:100;background:url(/kor/images/common/btn_s_ipin_info.png) no-repeat center; margin-top:30px; margin-left:-30px;}
.pop_mipininfo .head{width:100%; height:47px; position:relative; background-color:#2c498f;}
.pop_mipininfo .head h3{  font-size:15px; font-weight:bold; line-height:47px; margin-left:20px; color:#fff;}
.pop_mipininfo .head .btn_close{position:absolute; width:57px; height:46px; right:0px; top:0px; display:block; font-size:0; text-indent:-1000px; background:url(/kor/images/common/btn_pop_close.png) no-repeat;}

.cipininfo .head{width:766px; height:61px; position:relative; background-color:#f8f8f8; height:61px; border:2px solid #b0b4bf;}
.cipininfo .head h3{margin:20px 0 0 20px; color:#000;}


.gipin_info .btn_set{display:block; position:relative; width:100%; height:438px;background:url(/kor/images/common/img_btn_ipin.png) no-repeat;}
.pop_mipininfo .btn_set{margin-top:21px;}
.cipininfo .btn_set{margin-left:31px;}
.gipin_info .btn_set .pbtn{display:block; position:absolute; }
.gipin_info .btn_set .pbtn a span{overflow:hidden;  font-size:0; text-indent:-1000px; display:block; width:100%; height:100%;}
.gipin_info .btn_set .goto_new{width:473px; height:67px; left:89px; top:8px;}
.gipin_info .btn_set .goto_online{width:233px; height:68px; left:87px; top:170px;}
.gipin_info .btn_set .goto_visit{width:233px; height:68px; left:331px; top:170px;}
.gipin_info .btn_set .goto_mobile{width:233px; height:68px; left:87px; top:250px;}
.gipin_info .btn_set .goto_under{width:233px; height:68px; left:331px; top:250px;}

.gipin_info .btn_set .goto_origin{width:300px; height:23px; left:87px; bottom:76px;}


.c_skyblue{color:#12428a;}
.u14_info{width:758px; height:5250px; z-index:200; border:1px solid #000; background:#fff; margin:30px auto;}

.u14_info .head{width:100%; height:47px; position:relative; background-color:#2c498f;}
.u14_info .head h3{  font-size:15px; font-weight:bold; line-height:47px; margin-left:20px; color:#fff;}
.u14_info .head .btn_close{position:absolute; width:57px; height:46px; right:0px; top:0px; display:block; background:url(/kor/images/common/btn_pop_close.png) no-repeat; font-size:0; text-indent:-1000px;}

.u14_info .con{width:718px; padding:19px;}
.u14_info .con .smry{width:680px; border:1px solid #d6d6d6; background-color:#f4f4f4; line-height:16px; padding:17px; letter-spacing:1px;}
.u14_info .con .smry p{ background:url(/kor/images/common/ico_arr_a1.png) no-repeat top left; padding-left:10px; margin-left:10px; font-weight:11px; margin-top:2px;}
.u14_info .con dl{padding-left:23px; margin-top:30px;}
.u14_info .con dl dt{font-weight:bold; font-size:14px; letter-spacing:1px;}
.u14_info .con dl dd{padding-left:20px; margin-top:16px; clear:both;}
.u14_info .con dl dd.pdnone{padding-left:0px;}
.u14_info .con dl dd.pdexit{margin-left:-10px;}
.u14_info .con dl dd p{margin-top:3px; font-size:9pt}

.u14_info .con dl dd.pdexit .tabbox{ height:68px;}
.u14_info .con dl dd.pdexit .tabbox ul li{float:left; width:230px; height:48px; border:1px solid #c3c3c3;margin-left:-1px; font-size:13px; letter-spacing:2px; text-align:center; color:#666666; padding-top:20px; background-color:#f6f6f6; border-bottom:1px solid #12428a; word-break:break-all; white-space:pre; z-index:10;}
.u14_info .con dl dd.pdexit .tabbox ul li.boxv2{ height:58px; padding-top:10px !important;}
.u14_info .con dl dd.pdexit .tabbox ul li.on{ background-color:#fff; border:1px solid #12428a; border-bottom:none; z-index:1000; margin-right:1px; color:#000; font-weight:bold;}
.tabbox ul li.on a
,.tabbox ul li.on a:hover
,.tabbox ul li.on a:active
,.tabbox ul li.on a:visit{color:#000000;}
.u14_info .con dl dd.pdexit .tabbox ul li.on::after{border-left:1px solid #12428a;}
.u14_info .con dl dd .tabbox ul li a span{ width:102px; height:68px; line-height:20px; }

.u14_info .con dl dd.tabinfo dl.preinfo{margin-left:-20px;}
.u14_info .con dl dd.tabinfo dl.preinfo dt{font-weight:bold; font-size:13pt; color:#000; margin-top:10px; letter-spacing:0.2px;}
.u14_info .con dl dd.tabinfo dl.preinfo dd.pretxt{line-height:20px; width:90%}


.mailing{margin-top:4px;}
.mailing ul {display: flex; align-items: center; gap: 10px;}
/* .mailing ul li:first-child{margin-top:2px;} */

.mr5.input_disable{background-color:#898989;}

.fb{font-weight:bold;}
.subject_exp{width:100%; margin-top:20px; line-height:20px;}
.subject_exp p{line-height: 1.8;}
.subject_exp p.depth1{/*padding-left:20px;*/}
.subject_exp p.depth2{/*padding-left:30px;*/padding-left:20px;}
.subject_exp p.depth3{/*padding-left:40px;*/padding-left:30px;}

.subject_exp p.depth1:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #a1a1a1;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -4px;
}

