@charset "utf-8";

/*table*/
.table_license {width:770px;margin:0 auto;}
.table_license th {text-align:center;}
.table_license td {text-align:center;border-bottom:1px solid #bbbbbb;}

.table_list {border-top:1px solid #111; background:#fff;}
.table_list th {padding:17px 0;color:#111;border-bottom:1px solid #dedede;text-align:center;font-weight:500;line-height: 1.072;background: #fff;}
.table_list th.last-item {border-right:0px;}
.table_list td {padding:15px 5px;border-bottom:1px solid #dedede;text-align:center;}
.table_list td a span {margin:0 0px 0 5px;text-decoration:underline;}
/* .table_list tr.bg {background:#fafafa;} */
.table_list td.txt_left {padding-left:15px;text-align:left;}
.table_list td.txt_right {text-align:right;}
.table_list .icon_new {background:#FFD8D6; font-size:11px; color:#E50000; width:18px; height:18px; border-radius:50%; line-height:1.6; margin-left:8px; vertical-align:text-bottom; }

.table_list_02 {border-top:1px solid #22408a;border-bottom:3px double #bbbbbb;}
.table_list_02 th {padding:13px 0 10px 0;color:#303030;border-right:1px solid #dedede;border-bottom:1px solid #bbbbbb;text-align:center;font-weight:bold;font-size:12px;background:url(/kor/images/common/th_list_02_bar.gif) repeat-x;}
.table_list_02 th.last-item {border-right:0px;}
.table_list_02 td {padding:10px 5px;border-right:1px solid #dedede;border-bottom:1px solid #d6dae2;text-align:center;font-size:12px;}
.table_list_02 td.last-item {border-right:0px;}

.table_select {margin:16px 0 0 0;border-top:1px solid #22408a;border-bottom:3px double #e9e9e9;}
.table_select th {padding:13px 0 13px 10px;font-size:13px;color:#333333;border-bottom:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background:#f9f9f9;font-size:12px;}
.table_select td {padding:12px 0;border-bottom:1px solid #d6d6d6;border-right:1px solid #d6d6d6;font-size:12px;}
.table_select tr .last-item {border-right:0px;}
.table_select td input {margin:0 5px 0 20px;border:0px;}
.table_select tr .txt_left {text-align:left;}
.table_select tr .txt_center {text-align:center;}
.table_select tr .txt_right {text-align:right;}

.table_view_prev_next {border-top:1px solid #111;}
.table_view_prev_next tr.bg {background:#fafafa;}
.table_view_prev_next th {padding:20px;border-bottom:1px solid #DEDEDE;background:#FBFBFB;}
.table_view_prev_next th h2 {font-size:16px;font-weight:500;color:#111;text-align:left;}
.table_view_prev_next th h2 + span {margin-top:15px} 
.table_view_prev_next th span {display:inline-block;color:#444;margin-right:20px;}
.table_view_prev_next td {padding:17px 20px;border-bottom: 1px solid #DEDEDE;}
.table_view_prev_next td > span {font-weight:500;}
.table_view_prev_next td.txt_area_01 {padding:20px 20px 50px;line-height:1.5;}
.table_view_prev_next td span img {width: 16px; margin: 0 42px 0 20px;}
.table_view_prev_next td span.prev img {transform: rotate(180deg);}
.file_list {display: inline-flex;flex-direction: column;}
.file_list a {margin-left: 70px;}

.table_view_01 {border-top:1px solid #111; background:#fff; width:100%;}
.table_view_01 tr .last-item {border-right:0px;}
.table_view_01 th {padding: 17px 0;
    color: #303030;
    /* border-right: 1px solid #dedede; */
    border-bottom: 1px solid #dedede;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    background: #FBFBFB;
    line-height: 1.072;}
.table_view_01 td {padding:14px 3px;border-right: 1px solid #F5F5F5;border-bottom:1px solid #dedede;text-align:center;line-height:150%;}
.table_view_01 td.detail {text-align:left; padding-left:150px; background:#FBFBFB; color:#444;}
.table_view_01 td.detail span {display:inline-block; width:120px; font-weight:500;}
/* .table_view_01 td.bg_01 {background:#fbfcfe;}
.table_view_01 td.bg_02 {background:#fdfaf7;} */
.table_view_01 tr .txt_left {padding:10px;text-align:left;line-height:1.5;}
.table_view_01 tr .txt_left02 {padding:10px 20px;text-align:left;line-height:1.5;}

.table_view_01.al th{text-align:left; padding:15px;}
.table_view_01.al td{text-align:left; padding-left:15px; padding-right:15px;}

.btn_wrap {width:100%;text-align:center;margin:50px auto 0;}
.btn_list {display:inline-block;font-size:18px;line-height:1;color:#111;padding:18px 50px;border: 1px solid #ccc;border-radius: 5px;background:#fff;transition: all 0.2s;}

.table_view_02 {border-top:1px solid #22408a;border-bottom:3px double #bbbbbb;}
.table_view_02 tr .last-item {border-right:0px;}
.table_view_02 th {padding:13px 0 13px 10px;font-size:13px;color:#333333;text-align:center;font-size:12px;border-bottom:1px solid #d6d6d6;border-right:1px solid #d6d6d6;background:#f9f9f9;}
.table_view_02 td {padding:12px 0px 12px 20px;border-bottom:1px solid #d6d6d6;border-right:1px solid #d6d6d6;line-height:140%;font-size:12px;}
.table_view_02 td input {margin:0 0 0 20px;}
.table_view_02 td.txt_01 {padding:18px 0 30px 0;font-size:11px;}
.table_view_02 tr .txt_left {text-align:left;}
.table_view_02 tr .txt_center {text-align:center;}
.table_view_02 tr .txt_right {text-align:right;}

/* 필기,실기 구분 */
td.bg_no {background:none !important;}
tr.bg_no td, tr.bg_no th {background:none !important;}
/* tr.border02 td, td.border02 {border-bottom:3px double #bbb ;} */
td.line_no {border-bottom:none;}

/* table.ty2 tbody td {background:#fdfaf7}
table.ty2 tr.bg01 td {background:#fbfcfe;} */

/* table.ty3 tbody td {background:#fbfcfe} */
/* table.ty3 tr.bg02 td {background:#fdfaf7;} */
/* table.ty3 tr.odd td {border-bottom:3px double #bbb;background:#fdfaf7;} */
table.ty3 tr.last td {border-bottom:none;}
table.ty3 tr td:last-child {border-right:none;}