@charset "UTF-8";

body {
	font-family: 'Spoqa Han Sans Neo', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
	color: #000;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	min-height: 100%;
}
select,
input {
	font-family: 'Spoqa Han Sans Neo', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
	color: #000;
}

.hidden {
	position: absolute;
	width: 0px;
	height: 0px;
	left: -99999px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

#wrap {
	position: relative;
	width: 100%;
}
#wrap_main {
	width: 100%;
}
#content_area {
	position: relative;
	width: 100%;
}
#content_area_main {
}
#bottom_area {
	width: 100%;
	height: 40px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background: #f9f9f9;
	clear: both;
}
#footer {
	position: relative;
	width: 100%;
	clear: both;
}

a {
	text-decoration: none;
	color: #666;
}
a:hover {
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
input label {
	position: relative;
	top: -3px;
}

.gnb_area h1 {
	padding: 15px 0 0 0px;
}

h3.sub_title {
	font-size: 20px;
	font-weight: 700;
	color: #111;
}
h3.sub_title span {
	position: relative;
	margin: 0px 0 0px 10px;
	font-size: 16px;
}
/* h4.txt_title_01 {
	margin: 0px 0 0px 0;
	padding: 7px 0 0 0;
	font-size: 16px;
	color: #222222;
	background: url(/kor/images/common/img_txt_title_bar_blue.gif) no-repeat 0px 0px;
	clear: both;
} */
h4.txt_title_01 {
	font-size: 20px;
	font-weight: 700;
	color: #111;
}
h5.txt_title_02, .txt_title_02 {
	font-size: 20px;
	font-weight: 700;
	color: #111;
	clear: both;
}
h6.txt_title_03, .txt_title_03 {
	font-size: 16px;
	color: #111;
	font-weight:500;
	clear: both;
}
.txt_title_03 + table {margin-top:16px;}
.txt_title_03 + textarea {margin-top:12px;}
.txt_subtitle {line-height:1.6; margin:20px 0;}

.txt_right_01 {
	margin: -18px 0 16px 0;
	text-align: right;
	font-size: 14px;
}
.em {
	padding-left: 6px;
	background: url(/kor/images/common/bullet.gif) no-repeat left 55%;
	font-weight: bold;
}

/* main */
#hidden_pop_area {
	position: relative;
	width: 100%;
	height: 180px;
	background: #e5e5e5;
	overflow: hidden;
}
#hidden_pop_area .hidden_pop {
	width: 981px;
	margin: 0 auto;
	padding: 6px 0 0 0;
}
#hidden_pop_area .hidden_pop ul {
	margin: 0 auto;
	text-align: center;
}
#hidden_pop_area .hidden_pop li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	position: relative;
	width: 180px;
	height: 133px;
	padding: 2px 0 0 0;
	text-align: left;
	vertical-align: top;
	background: url(/kor/images/main/bg_hidden_pop_top.gif) no-repeat;
}
#hidden_pop_area .hidden_pop li .txt_01 {
	padding: 20px 19px 10px 19px;
	font-size: 15px;
	color: #22408a;
	line-height: 110%;
}
/*#hidden_pop_area .hidden_pop li .txt_02 {margin:0px 0 33px 19px;color:#777777;}*/
#hidden_pop_area .hidden_pop li .btn_detail_view {
	position: absolute;
	top: 95px;
	left: 19px;
}
#hidden_pop_area .hidden_pop li .btn_detail_view a {
	display: inline-block;
	width: 78px;
	height: 25px;
	color: #fff !important;
	line-height: 200%;
	background: url(/kor/images/main/btn_detail_view_blue.gif) no-repeat;
}
#hidden_pop_area .hidden_pop li .btn_detail_view a span {
	display: block;
	margin-left: 8px;
}
#hidden_pop_area .hidden_pop .txt_today {
	padding: 6px 0 0 0;
	font-size: 14px;
	color: #222222;
	text-align: center;
	clear: both;
}

#layer_area {
	position: relative;
	top: 105px;
	width: 100%;
	height: 520px;
	border-bottom: 1px solid #7386b5;
	background: url(/kor/images/main/bg_layer_area.png) repeat;
	z-index: 200;
}
#layer_area .license_list_area {
	position: relative;
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}
#layer_area .license_list_area > .license_list {
	padding: 29px 0 0 0;
}
#layer_area .license_list_area > .license_list > li {
	float: left;
	position: relative;
	width: 309px;
	height: 209px;
	margin: 0 35px 39px 0;
	background: url(/kor/images/main/bg_license_list_area.png) no-repeat;
}
#layer_area .license_list_area > .license_list > li.last-item_01 {
	margin: 0 0px 39px 0;
}
#layer_area .license_list_area > .license_list > li.last-item_02 {
	width: 309px;
	height: 123px;
	margin: 0 0px 39px 0;
	background: url(/kor/images/main/bg_license_list_area_last.png) no-repeat;
}
#layer_area .license_list_area > .license_list > li .btn_more {
	position: absolute;
	top: 24px;
	right: 20px;
}
#layer_area .license_list_area > .license_list .txt_01 {
	margin: 23px 0 8px 27px;
	font-size: 22px;
	color: #010101;
}
#layer_area .license_list_area > .license_list .txt_02 {
	margin: 0 0 0 27px;
	font-size: 13px;
	line-height: 120%;
}
#layer_area .license_list_area > .license_list .img_area {
	position: absolute;
	top: 113px;
	right: 28px;
}
#layer_area .license_list_area .txt_license_list {
	width: 166px;
	margin-top: 5px;
}
#layer_area .license_list_area .txt_license_list li {
	margin: 0 0 0 29px;
	padding: 3px 0 2px 10px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 13px;
	background: url(/kor/images/main/txt_license_list.gif) no-repeat 0 6px;
}
#layer_area .license_list_area .txt_license_list li a {
	color: #666666;
}
#layer_area .license_list_area .btn_area_license {
	position: absolute;
	bottom: 15px;
	right: -5px;
}
#layer_area .license_list_area .btn_area_license p {
	float: left;
	margin: 0 7px 0 0;
}

#layer_area2 {
	position: relative;
	top: 105px;
	width: 100%;
	height: 520px;
	border-bottom: 1px solid #7386b5;
	background: url(/kor/images/main/bg_layer_area.png) repeat;
	z-index: 200;
}
#layer_area2 .license_list_area {
	position: relative;
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}
#layer_area2 .license_list_area > .license_list {
	padding: 29px 0 0 0;
}
#layer_area2 .license_list_area > .license_list > li {
	float: left;
	position: relative;
	width: 309px;
	height: 209px;
	margin: 0 35px 39px 0;
	background: url(/kor/images/main/bg_license_list_area.png) no-repeat;
}
#layer_area2 .license_list_area > .license_list > li.last-item_01 {
	margin: 0 0px 39px 0;
}
#layer_area2 .license_list_area > .license_list > li.last-item_02 {
	width: 309px;
	height: 123px;
	margin: 0 0px 39px 0;
	background: url(/kor/images/main/bg_license_list_area_last.png) no-repeat;
}
#layer_area2 .license_list_area > .license_list > li .btn_more {
	position: absolute;
	top: 24px;
	right: 20px;
}
#layer_area2 .license_list_area > .license_list .txt_01 {
	margin: 23px 0 8px 27px;
	font-size: 22px;
	color: #010101;
}
#layer_area2 .license_list_area > .license_list .txt_02 {
	margin: 0 0 0 27px;
	font-size: 13px;
	line-height: 120%;
}
#layer_area2 .license_list_area > .license_list .img_area {
	position: absolute;
	top: 113px;
	right: 28px;
}
#layer_area2 .license_list_area .txt_license_list {
	width: 166px;
	margin-top: 5px;
}
#layer_area2 .license_list_area .txt_license_list li {
	margin: 0 0 0 29px;
	padding: 3px 0 2px 10px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 13px;
	background: url(/kor/images/main/txt_license_list.gif) no-repeat 0 6px;
}
#layer_area2 .license_list_area .txt_license_list li a {
	color: #666666;
}
#layer_area2 .license_list_area .btn_area_license {
	position: absolute;
	bottom: 15px;
	right: -5px;
}
#layer_area2 .license_list_area .btn_area_license p {
	float: left;
	margin: 0 7px 0 0;
}

/*gnb*/
#gnb_extend {
	width: 100%;
	height: 57px;
	margin: 0px 0 0 0;
	background: url(/kor/images/common/bg_gnb_area_right.gif) repeat-x;
}
.gnb_area_left {
	width: 50%;
	height: 56px;
	top: 49px;
	background: url(/kor/images/common/bg_gnb_area_left.gif) repeat-x;
}
.gnb_area_right {
}
.gnb_area {
	position: relative;
	width: 1200px;
	height: 64px;
	top: -56px;
	left: 50%;
	margin-left: -500px;
	background: url(/kor/images/common/bg_gnb_area.jpg) no-repeat;
}

.gnb_area > .gnb {
	position: absolute;
	height: 64px;
	top: 20px;
	left: 160px;
	outline: 0px solid #c64;
}
.gnb_area > .gnb > li {
	float: left;
	width: 142px;
	font-size: 15px;
	background: url(/kor/images/common/bg_bar_gnb.png) no-repeat right 5px;
	text-align: center;
}
.gnb_area > .gnb > li a {
	color: #fff;
}
.gnb_area > .gnb > li a:hover {
	color: #dce6ff;
}
.gnb_area > .gnb > li.last-child {
	width: 130px;
	background: none;
}

#gnb_sub_area {
	position: absolute;
	top: 106px;
	width: 100%;
	height: 243px;
	border-bottom: 0px solid #22408a;
	background: url(/kor/images/common/bg_gnb_sub_area.png) repeat-x 0 0;
	z-index: 300;
}
.gnb_sub {
	position: relative;
	width: 1200px;
	height: 239px;
	margin: 0 auto;
	outline: 0px solid #c64;
}
.gnb_sub .img_area {
	position: absolute;
	bottom: 1px;
	bottom: 3px;
	left: 0;
}
/*.gnb_sub .txt_gnb {display:inline-block;margin:14px 0 0 20px;font-size:14px;}*/
.gnb_sub .gnb_sub_list {
	float: left;
	width: 140px;
	height: 235px;
}
.gnb_sub .gnb_sub_space {
	position: absolute;
	top: 0;
	width: 840px;
	height: 228px;
	margin-left: 160px;
	outline: 0px solid #c64;
}
.gnb_sub ul {
	height: 213px;
	margin: 12px 0 0 0;
	padding: 0px 10px 0 18px;
	background: url(/kor/images/main/bg_gnb_sub_line.gif) no-repeat 0 0px;
}
.gnb_sub li {
	padding: 0px 0px 8px 6px;
	font-size: 12px;
	background: url(/kor/images/main/icon_arrow_grey.gif) no-repeat 0 6px;
	line-height: 110%;
	outline: 0px solid #c64;
}
.gnb_sub li a:hover {
	color: #4f63af;
}
.gnb_sub li.last-item {
	border-right: 0px;
}
.gnb_sub .btn_colse {
	position: absolute;
	bottom: 0;
	right: 0;
}

.content_main {
	position: relative;
	width: 998px;
	margin: 0 auto;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
} /*20140930 한줄 수정*/
.content_main .banner_m_right {
	position: absolute;
	left: 1005px;
	top: 5px;
}
.content_main .btn_area_go {
	position: absolute;
	top: 245px;
	left: 43px;
	text-align: center;
}
.content_main .btn_area_go p {
	float: left;
	padding: 0 14px 31px 0;
}
.content_main .btn_area_go p a {
	display: inline-block;
	width: 201px;
	height: 46px;
	font-size: 14px;
	color: #444 !important;
	line-height: 310%;
	background: url(/kor/images/main/btn_go.gif) no-repeat;
}

.content_main .main_top_area {
	position: relative;
	width: 1200px;
	height: 314px;
	border-bottom: 1px solid #d7d7d7;
}
.content_main .main_top_area .btn_area_prev_next {
	position: absolute;
	top: 70px;
	right: 30px;
}
.content_main .main_top_area .btn_area_prev_next p {
	float: left;
	z-index: 10;
}
.content_main .btn_more {
	position: absolute;
	top: 26px;
	right: 30px;
}
.content_main .main_top_area .main_top_area_left {
	position: relative;
	float: left;
	width: 500px;
	height: 314px;
	border-right: 1px solid #d7d7d7;
	background: #fcfcfc;
	outline: 0px solid #c64;
}
.content_main .main_top_area .main_top_area_left h2 {
	margin: 21px 0 0px 29px;
	padding: 12px 0 0 0;
	font-size: 16px;
	color: #000000;
	background: url(/kor/images/main/img_txt_title_bar_red.gif) no-repeat 0px 0px;
	clear: both;
	outline: 0px solid #c64;
}
.content_main .txt_title_license {
	margin: 13px 0 15px 60px;
	font-size: 14px;
}

#divSlideContainer {
	margin: 15px 100px 0 30px;
	overflow: hidden;
}
#divSlideContainer > ul > li {
	padding: 0 6px;
	text-align: center;
}
#divSlideContainer > ul > li a {
	display: inline-block; /*padding:0 6px*/
	width: 115px;
	text-align: center;
}

.content_main .schedule_list {
	position: relative;
	margin: 0 0 0 60px;
	z-index: 100;
}
.content_main .schedule_list.no {
	margin: 50px 0 0 100px;
}
.content_main .schedule_list li {
	margin: 0 0 3px 0;
}
.content_main .schedule_list li span {
	font-size: 11px;
	line-height: 140%;
}
.content_main .schedule_list li span strong {
	display: inline-block;
	width: 58px;
	margin: 0 12px 0 0;
}
.content_main .schedule_list li span strong.blue {
	display: inline-block;
	width: 58px;
	height: 18px;
	margin-right: 10px;
	color: #fff !important;
	text-align: center;
	background: url(../../images/main/btn_blue.png) no-repeat;
}
.content_main .schedule_list li span strong.grey {
	display: inline-block;
	width: 58px;
	height: 18px;
	margin-right: 10px;
	color: #fff !important;
	text-align: center;
	background: url(../../images/main/btn_grey.png) no-repeat;
}

.schedule_list_no {
	position: relative;
	margin: 0 0 0 60px;
	z-index: 100;
}
.schedule_list_no dt {
	float: left;
	width: 150px;
	padding: 45px 0 0px 15px;
}
.schedule_list_no dd {
	padding: 90px 0 0 0;
}

.schedule_list_new {
	position: relative;
	margin: 0 0 0 60px;
	z-index: 100;
}
.schedule_list_new dt {
	float: left;
	width: 70px;
	padding: 0 0 4px 0;
	outline: 0px solid #c64;
}
.schedule_list_new dt.no {
	width: 300px;
	padding: 40px 0 0 0;
	text-align: center;
	outline: 1px solid #c64;
}
.schedule_list_new dt.last {
	min-height: 45px;
}
.schedule_list_new dt strong {
	display: inline-block;
	width: 58px;
	margin: 0 12px 0 0;
}
.schedule_list_new dt strong.blue {
	display: inline-block;
	width: 58px;
	height: 18px;
	margin-right: 10px;
	color: #fff !important;
	text-align: center;
	background: url(/kor/images/main/btn_blue.png) no-repeat;
}
.schedule_list_new dt strong.grey {
	display: inline-block;
	width: 58px;
	height: 18px;
	margin-right: 10px;
	color: #fff !important;
	text-align: center;
	background: url(/kor/images/main/btn_grey.png) no-repeat;
}
.schedule_list_new dd {
	min-height: 25px;
	outline: 0px solid #c64;
}

.content_main .main_top_area .main_top_area_left .img_area {
	position: absolute;
	top: 138px;
	right: 66px;
}
.content_main .main_top_area .license_list {
	position: relative;
	width: 440px;
	height: 22px;
	margin: 24px 0 0 30px;
	padding: 0 0 0px 0;
	border-bottom: 1px solid #f3f3f3;
	font-size: 14px;
}
.content_main .main_top_area .license_list li {
	float: left;
	margin: 0 0 0 0px;
	padding: 0 18px 0 18px;
	border-right: 1px solid #d2d2d2;
}

.content_main .main_top_area .license_list li.first-item {
	padding: 0 18px 0 0px;
}
.content_main .main_top_area .license_list li.last-item {
	padding: 0 0 0 18px;
	border-right: 0px;
}
.content_main .main_top_area .license_list li.on a {
	color: #4a5994;
}
.content_main .main_top_area .main_top_area_right {
	position: relative;
	float: left;
	width: 499px;
}
.content_main .main_top_area .main_top_area_right h2 {
	font-size: 16px;
}
.content_main .main_top_area .main_top_area_right h2.tab_01 {
	position: absolute;
	top: 21px;
	left: 30px;
	padding: 12px 18px 0 0;
}
.content_main .main_top_area .main_top_area_right h2.tab_02 {
	position: absolute;
	top: 21px;
	left: 122px;
	padding: 12px 18px 0 0;
}
.content_main .main_top_area .main_top_area_right h2.on {
	padding: 12px 22px 0 0;
	background: url(/kor/images/main/img_txt_title_bar_red.gif) no-repeat 0px 0px;
}
.content_main .main_top_area .main_top_area_right h2.on a {
	color: #000000;
}
.content_main .main_top_area .main_top_area_right h2.off a {
	color: #777777;
}
.content_main .main_top_area .main_top_area_right .notice_area {
	height: 195px;
	border-bottom: 1px solid #e6e6e6;
}
.content_main .main_top_area .main_top_area_right .notice_list {
	position: absolute;
	top: 67px;
	left: 30px;
}
.content_main .main_top_area .main_top_area_right .notice_list li {
	padding: 0px 0px 7px 6px;
	background: url(/kor/images/main/icon_arrow_grey.gif) no-repeat 0 5px;
	overflow: hidden;
}
.content_main .main_top_area .main_top_area_right .notice_list li a:hover {
	color: #333333;
}
.content_main .main_top_area .main_top_area_right .img_area {
	position: absolute;
	top: 54px;
	right: 35px;
}
.content_main .main_top_area .main_top_area_right .btn_area_main {
	height: 117px;
	border-top: 2px solid #f5f5f5;
}
.content_main .main_top_area .main_top_area_right .btn_area_main .btn_list {
	padding: 24px 0 0 20px;
}
.content_main .main_top_area .main_top_area_right .btn_area_main .btn_list li {
	float: left;
	width: 70px;
	margin: 0 5px 0 0;
	text-align: center;
}
.content_main .main_top_area .main_top_area_right .btn_area_main .btn_list span {
	display: inline-block;
	padding: 15px 0 0 0;
	clear: both;
	line-height: 110%;
}

.content_main .main_bottom_area {
	width: 998px;
	height: 318px;
}
.content_main .main_bottom_area h2 {
	margin: 21px 0 0px 29px;
	padding: 12px 0 0 0;
	font-size: 16px;
	color: #000000;
	background: url(/kor/images/main/img_txt_title_bar_red.gif) no-repeat 0px 0px;
	clear: both;
}
.content_main .main_bottom_area h2.off {
	margin: 0px 0 0px 29px;
	padding: 12px 0 0 0;
	font-size: 16px;
	color: #000000;
	background: none;
	clear: both;
}

.content_main .main_bottom_area .main_bottom_area_left {
	position: relative;
	float: left;
	width: 500px;
	height: 318px;
}
.content_main .main_bottom_area .main_bottom_area_left .license_list {
	position: relative;
	width: 440px;
	height: 22px;
	margin: 24px 0 0 30px;
	border-bottom: 1px solid #f3f3f3;
	font-size: 14px;
	outline: 0px solid #c64;
}
.content_main .main_bottom_area .main_bottom_area_left .license_list li {
	float: left;
	padding: 0 20px 0 20px;
	border-right: 1px solid #d2d2d2;
	outline: 0x solid #c64;
}
.content_main .main_bottom_area .main_bottom_area_left .license_list li.on a {
	color: #4a5994;
}
.content_main .main_bottom_area .main_bottom_area_left .license_list li.first-item {
	padding: 0 20px 0 0px;
}
.content_main .main_bottom_area .main_bottom_area_left .license_list li.last-item {
	padding: 0 0 0 20px;
	border-right: 0px;
}

.content_main .main_bottom_area .main_bottom_area_left .img_area {
	position: absolute;
	top: 138px;
	right: 66px;
}
.content_main .main_bottom_area .main_bottom_area_middle {
	position: relative;
	float: left;
	width: 257px;
	height: 318px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
.content_main .main_bottom_area .main_bottom_area_middle .img_area {
	margin: 20px 0 0 20px;
}
.content_main .main_bottom_area .main_bottom_area_middle .txt_01 {
	margin: 20px 0 0 30px;
	line-height: 130%;
}
.content_main .main_bottom_area .main_bottom_area_right {
	position: relative;
	float: left;
	width: 239px;
	height: 318px;
}
.content_main .main_bottom_area .main_bottom_area_right ul {
	width: 185px;
	margin: 0px 0 0px 31px;
	outline: 0px solid #c64;
}
.content_main .main_bottom_area .main_bottom_area_right li {
	padding: 7px 0 10px 3px;
	border-bottom: 1px solid #ebebeb;
	line-height: 150%;
}
.content_main .main_bottom_area .main_bottom_area_right li span {
	margin: 0 0 0 7px;
	font-size: 18px;
	color: #333333;
}
.content_main .main_bottom_area .main_bottom_area_right .txt_01 {
	margin: 10px 0 0 34px;
	line-height: 120%;
}
.content_main .main_bottom_area .main_bottom_area_right .img_area {
	position: absolute;
	bottom: 16px;
	right: 35px;
}
.content_main .main_bottom_area .main_bottom_area_right h2.off {
	margin: 0px 0 0 34px;
}
.content_main .main_bottom_area .btn_direct_go {
	position: absolute;
	bottom: 27px;
	left: 30px;
	outline: 0px solid #c64;
}
.content_main .main_bottom_area .btn_direct_go a {
	display: inline-block;
	width: 68px;
	height: 25px;
	color: #444 !important;
	line-height: 200%;
	background: url(/kor/images/main/btn_direct_go.gif) no-repeat;
}
.content_main .main_bottom_area .btn_direct_go span {
	display: block;
	margin-left: 10px;
}

.content_main .detail_view_area {
	height: 154px;
	border-top: 1px solid #d7d7d7;
}
.content_main .detail_view_area .detail_view {
	float: left;
	position: relative;
	width: 332px;
	height: 154px;
	border-right: 1px solid #d7d7d7;
}
.content_main .detail_view_area .detail_view.last-item {
	border-right: 0px;
}
.content_main .detail_view_area .img_area {
	float: left;
	padding: 30px 15px 0 15px;
}
.content_main .detail_view_area .txt_area {
	margin: 30px 0 0 0;
}
.content_main .detail_view_area .txt_area .txt_01 {
	margin: 0 0 5px 0;
	font-size: 13px;
	color: #152c64;
}
.content_main .detail_view_area .txt_area .txt_02 {
	line-height: 130%;
}
.content_main .detail_view_area .txt_area .btn_detail_view {
	position: absolute;
	top: 110px;
	left: 130px;
}
.content_main .detail_view_area .txt_area .btn_detail_view a {
	display: inline-block;
	width: 78px;
	height: 25px;
	color: #444 !important;
	line-height: 200%;
	background: url(/kor/images/main/btn_detail_view.gif) no-repeat;
}
.content_main .detail_view_area .txt_area .btn_detail_view span {
	display: block;
	margin-left: 10px;
}

.content {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	/* min-height: 100vh; */
	height: auto;
}
.content_in {
	display: inline-block;
	width: 100%;
	padding: 40px 0 100px; /*background:url(/kor/images/common/bg_lnb_area.gif) repeat-y;*/
}
.content_right {
	position: relative;
	width: 100%; 
	/*margin:38px 0px 0 0px;*/
	/* padding-bottom: 100px; */
	padding-left: 260px;
	outline: 0px solid #c64;
}
.content_right_edge {
	position: fixed;
	top: 240px;
	right: 0px;
	width: auto;
}
/* 방문신청 레이아웃 추가 */
.content_center {
	position: relative;
	width: 100%; 
	padding: 0 100px;
}
.sub_content {
	/* padding: 50px 0; */ /* 230410 수정*/
}

/* header */
/*20140124수정*/
.top_menu_area {
	position: relative;
	width: 1200px;
	height: 49px;
	margin: 0 auto;
}
.top_menu_left {
	padding: 18px 0 0 0;
	font-size: 13px;
	color: #333;
	font-weight: bold;
}
.top_menu_left li {
	float: left;
	margin: 0 14px 0 0;
}
.top_menu_left li img {
	position: relative;
	top: -1px;
	top: 1px;
	margin: 0 2px 0 0;
}
.top_menu_right {
	position: absolute;
	top: 18px;
	right: -8px;
	font-size: 13px;
}
.top_menu_right li {
	float: left;
	padding: 0px 7px 0 7px;
	border-left: 0px solid #d1d1d1;
	background: url(/kor/images/common/bar_top_menu_right.gif) no-repeat left 5px;
}
.top_menu_right li img {
	position: relative;
	top: 0px;
}
.top_menu_right li.first-child {
	margin: -2px 0 0 0;
	border-left: 0px;
	background: none;
}
.top_menu_right li.first-child .pop_annonce {
	display: inline-block;
	margin: 0 0 0 10px;
	margin: -3px 0 0 0;
	cursor: pointer;
	line-height: 130%;
}
.top_menu_right li .number {
	display: inline-block;
	width: 11px;
	height: 20px;
	margin: 0px 0 0 0;
	padding: 0px 0 0px 4px;
	color: #fff;
	background: url(/kor/images/common/icon_circle_red.png) no-repeat 0 2px;
	outline: 0px solid #c64;
}
/*20140124수정*/

/* 20190916 textbox */
.visual_txtbox {
	width: 220px;
	height: 230px;
	position: absolute;
	right: 0;
	top: 40px;
	background: #fff;
	opacity: 0.9;
	z-index: 100;
	padding: 17px 25px 30px;
	box-sizing: border-box;
}
.visual_txtbox dl dt {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	margin-bottom: 15px;
}
.visual_txtbox dl dt span {
	color: #23418a;
	font-size: 12px;
	display: block;
	margin-bottom: 3px;
}
.visual_txtbox dl dd {
	font-size: 14px;
	line-height: 1.5;
	padding-right: 20px;
}
.visual_txtbox .btn_go {
	display: block;
	text-align: right;
	margin-top: 28px;
	margin-right: 5px;
}
.visual_txtbox .btn_more {
	display: block;
	text-align: right;
}

/* sub_page */

.location {display:none;}
.location ul {
	display: flex;
	align-items: center;
}
.location ul li {
	display: inline-flex;
	color: #111;
}
.location ul li + li:before {
	content: '';
    display: inline-block;
    width: 5px;
    height: 8px;
    background: url(/kor/images/common/ico_nav_arrow.svg) no-repeat 0 0;
    margin: 6px 12px 0;
    vertical-align: middle;
}
.location ul li img {
	position: relative;
	margin-right: 5px;
}

.total_search {
	position: absolute;
	top: 15px;
	right: 0px;
}
.total_search li {
	float: left;
	*zoom: 1;
}

/* LNB */
.lnb_area {
	z-index: 1; 
	/*position:absolute;left:0;top:60px;*/
	width: 200px;
	height: auto; 
	/*border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;outline:0px solid #c64;*/
}
.lnb {
	height: 100%;
}
.lnb > li {
	position: relative;
	color: #111;
	font-size: 14px;
	border-bottom: 1px solid #E1E1E1;
}
.lnb > li > a > span {
	font-weight: 500;
}
.lnb > li:has(.lnb_sub):after {
	content: '';
    position: absolute;
    right: 20px;
    top: 25px;
    width: 7px;
    height: 12px;
	background: url(/kor/images/common/nextbtn_on.svg) 0 0 no-repeat;
    background-size: contain;
}
.lnb > li.first-item {
	border-top: 0px;
}
/* .lnb > li .last-item {
	padding-bottom: 20px;
	margin-bottom: -1px;
	border-bottom: 1px solid #E1E1E1;
} */
.lnb > li.on {
	/* background: url(/kor/images/common/bg_lnb_arrow_on.gif) no-repeat 150px 15px; */
}
.lnb > li.on a span{
	color: #007FE1;
	font-weight:700;
}
.lnb > li.down:after {
	content: '';
    position: absolute;
    right: 20px;
    top: 25px;
    width: 7px;
    height: 12px;
	transform: rotate(90deg);
	background: url(/kor/images/common/nextbtn_on.svg) 0 0 no-repeat;
    background-size: contain;
}
.lnb > li.down a {
	display:block;
	/* color: #646464; */
}
.lnb > li.down_on:after {
	transform: rotate(-90deg);
    content: '';
    position: absolute;
    right: 20px;
    top: 25px;
    width: 7px;
    height: 12px;
	background: url(/kor/images/common/prevbtn_on.svg) 0 0 no-repeat;
    background-size: contain;
}
.lnb > li.down_on a {
	display:block;
	/* color: #fff; */
}

.lnb_sub {
	margin: 5px 0 20px 0;
	/* margin: 0 0px -10px 0px;
	margin: 0 0px 0px 0px;
	padding: 0px 0 9px 0px;
	padding: 0px 0 5px 0px; */
}
/* .lnb_sub li {
	font-size: 12px;
	background: #fff url(/kor/images/common/bg_lnb_sub.gif) no-repeat 26px 9px;
} */
.lnb_sub li a span {
	display: inline-block;
	padding: 5px 0 5px 15px;
	cursor: pointer;
	outline: 0px solid #c64;
}
.lnb_sub li span.on {
	color: #007FE1;
	font-weight: 500;
}

a.btn_bg_ty02 {
	display: inline-block;
	padding-left: 10px !important;
	width: 93px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	color: #444;
	background: url(../../images/layout/btn_bg02.gif) no-repeat 0 0;
}
a.btn_bg_ty02.blue {
	color: #fff;
	background-position: 0 bottom;
}
ul.td_ul01 {
	padding: 10px 0;
}
ul.td_ul01 > li {
	margin: 4px 0;
}
ul.td_ul01 > li > label {
	width: 75px;
	font-size: 14px;
	color: #222;
}

ul.th_ul01 > li {
	padding: 10px 0;
}
ul.th_ul01 > li > label {
	font-size: 16px !important;
	font-weight: bold;
	color: #222;
}

.dp_ib {
	display: inline-block !important;
}
.wauto {
	width: auto !important;
}
.mt0 {
	margin-top: 0 !important;
}
ul.ul_ty01 li {
	font-size: 12px !important;
	line-height: 20px !important;
	background-position: 0 5px !important;
}

.arrow_blue {
	float: left;
	padding: 0px 12px 0 9px;
	background: url(/kor/images/common/icon_arrow_blue.png) no-repeat 0 5px;
}

/* RENEWAL */
.container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}
.sub-title_wrap {
	display: flex;
	flex-flow: column;
	height: 120px;
	justify-content: center;
	align-items: center;
	background-color: #eef8ff;
	gap:20px;
}
.sub-title_wrap .page-title {
	font-size: 40px;
	color: #111;
	font-weight: 700;
	line-height: 1.25;
}
.lnb {
	margin-top: 30px;
	border-top: 1px solid #191919;
}
.lnb_area {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	position: relative;
	left: 50%;
	margin-bottom: 200px;
	transform: translate(-600px, 40px);
}
.lnb_area .lnb_title {
	font-size: 26px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -0.25px;
}

.lnb > li span {
	display: block;
	padding: 19px 0 19px 15px;
	outline: 0px solid #c64;
	font-size: 16px;
	letter-spacing: 0.2px;
}

#content_area {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}
.page-title > span {
	font-size: 22px;
	font-weight: 400;
	padding-left: 20px;
}


/* new style */

.sub_content hr {width:100%; height:1px; background:#eee; margin:30px 0}
hr.hr {background:#e7e7e7; border-style:none;}
.title_group {
	display:flex;
	justify-content:space-between;
	align-items:end;
	margin-bottom:16px
}
.title_group.btn {justify-content:end; align-items:center; gap:5px;}
.title_group a {margin-left:5px;}
.txt_title_01 + .table_list, .txt_title_01 + table {margin-top:16px}
/* .title_group + table {margin-top:16px} */


.btn_wrap a + a {margin-left:12px;}
.btn_wrap a.disabled {background:#EEEEEE; color:#777777; border:solid 1px #DFDFDF}
.btn_blue {display:inline-block;font-size:18px;line-height:1;color:#fff;padding:18px 50px;border-radius: 5px;background:#2696F8;transition: all 0.2s;cursor:pointer;}
.btn_blue:hover, .btn_gray:hover {color:#fff;}
.btn_gray {display:inline-block;font-size:18px;line-height:1;color:#fff;padding:18px 50px;border-radius: 5px;background:#7e7e7e;transition: all 0.2s;cursor:pointer;}
.btn_bk {display:inline-block;font-size:14px;line-height:1;color:#fff;padding:20px 15px;border-radius: 3px;background:#222;transition: all 0.2s;cursor:pointer;}
.btn_bk.m {padding:9px 25px;font-size:14px;}
.btn_bk.s {padding:9px 15px; min-width:60px;text-align:center;}
.btn_wh {display:inline-block;font-size:18px;line-height:1;color:#111;padding:18px 50px;border-radius: 5px;background:#fff;transition: all 0.2s; border:solid 1px #ccc; cursor:pointer;}
.btn_wh.link{min-width:80px;font-size:14px; padding:9px 25px;color:#007FE1;}
.btn_wh.m {padding:8px 20px;font-size:14px;}
.btn_wh.s {padding:8px 10px;font-size:14px;vertical-align:middle;}
.btn_bw {display:inline-block;font-size:18px;line-height:1;color:#007FE1;padding:18px 50px;border-radius: 5px;background:#fff;transition: all 0.2s; border:solid 1px #2696F8; cursor:pointer;}
.btn_bw.s {padding:8px 10px;font-size:14px;vertical-align:middle;}
.btn_link { font-weight: bold; text-decoration: underline; cursor: pointer;}
.btn_join {display:inline-block;font-size:18px;line-height:1;color:#111;padding:18px 15px;border-radius: 5px;background:#fff; border:solid 1px #ccc; transition: all 0.2s; width:100%;}
.btn_join:hover { color:inherit}
.btn_cert {display:inline-block;border:solid 1px #DEDEDE; border-radius:10px; color:#111; font-size:22px; text-align:center;  font-weight:500; width:455px; padding:40px 0;;vertical-align:middle}
.btn_cert:before {
	content:'';
	display:inline-block;
	vertical-align:middle;
	width:36px;
	height:36px;
	margin-right:20px;
	background:url(/kor/images/common/ico_phone.png) center no-repeat;
}
.btn_cert:selected {}
.btn_cert.ipin:before {
	background:url(/kor/images/common/ico_ipin.png) center no-repeat;
}
.btn_cert:hover {border-color:#2696F8; color:#111}
.btnLink {font-weight:400 !important;  text-decoration: underline; cursor: pointer;color:#007FE1;}
.txt_link {display:inline-block; color:#007FE1; font-size:14px; text-decoration:underline !important; cursor:pointer;}
.txt_link.button, .txt_down.button {border:solid 1px #ccc; padding:6px 20px; text-decoration:none !important;height:34px;}
.txt_link:after {
	content:'';
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:top;
	margin:1px 0 0 4px;
	background:url(/kor/images/common/ico_link.png) center no-repeat;
	vertical-align:text-top;
}
.txt_down{display:inline-block; color:#007FE1; font-size:14px;cursor:pointer;}
.txt_down:after {
	content:'';
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:top;
	margin:1px 0 0 4px;
	background:url(/kor/images/common/ico_down.png) center no-repeat;
}



.btn_src {width:24px; height:24px;background:url(/kor/images/common/ico_search.png) center no-repeat; text-indent:-9999px; position:absolute; right:5px; top:3px;cursor:pointer;}
input::file-selector-button {
	font-size:14px;
	color:#444;
	background:#fff;
	font-family:'Spoqa Han Sans Neo';
	border:solid 1px #ccc;
	border-radius:3px;
	padding:5.5px 12px;
	margin-right:5px;
}


table.fix th:first-child {position: sticky; left: 0;}
 table.fix td:first-child {position: sticky; left: 0; background:#fff;}

/* calendar */
.hasDatepicker {background: url(/kor/images/common/ico_calendar.png) 92% no-repeat; max-width:130px}
.ui-datepicker {display:none;background:#fff;border: 0;box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); font-family:'Spoqa Han Sans Neo', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif; color:#111; font-size:13px; border-radius:5px; padding:10px} 
.ui-datepicker-header {position:relative;}
.ui-datepicker .ui-datepicker-title {margin: 5px 0 10px; text-align:center;} 
.ui-datepicker select.ui-datepicker-month {margin-left: 10px; } 
.ui-datepicker thead th {font-weight:700; text-align:center; padding:5px 0} 
.ui-datepicker tbody td {width: 38px;height:38px;text-align: center; } 
.ui-datepicker tbody td a {display: inline-block; width:36px; height:36px;border-radius: 0.25rem;line-height: 36px;transition: 0.3s all;color: #666;border-radius: 50%; } 
.ui-datepicker tbody td a:hover {background-color: #f1f1f1; } 
.ui-datepicker tbody td a.ui-state-active { background:#111; color: #fff; font-weight:500;} 

.ui-datepicker-header a.ui-corner-all {cursor: pointer;position: absolute;width: 32px;height: 32px;background: url(/kor/images/common/ico_prev.png) center no-repeat; text-indent:-9999px} 
.ui-datepicker-header a.ui-datepicker-next {background: url(/kor/images/common/ico_next.png) center no-repeat; right: 1px; }
