@charset "utf-8";

/*요소(element)여백 초기화 */
*,
*:before,
*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 
body { font-size: 14px; line-height: 1.4; font-family: 'Spoqa Han Sans Neo', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif; background-color: #fff; color: #111; letter-spacing:-0.2px;word-break: keep-all; word-wrap: break-word;} 
table, th, td, input, select, button, textarea, pre { font: inherit; color: inherit; } 
html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, address,pre, cite, form, fieldset, input, select,
button, textarea, p, blockquote, table, th, td, label { margin: 0; padding: 0; } 
ul, ol, li, dl, dt, dd {list-style: none; } 
p, h1, h2, h3, h4, h5, h6 {font-weight: normal; } 
a { border: 0; margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; color: #000; } 
/* a:hover { color: #007fe1; }  */
a:focus { outline-color: #c00000; } 
input:focus { outline-color: #c00000; } 
select:focus { outline-color: #c00000; } 	
button:focus { outline-color: #c00000; } 
i { display: inline-block; vertical-align: middle; text-align: center; } 
img { font-size: 0; vertical-align: middle; border: 0; } 
table{border-collapse:separate;border-spacing:0;border:0 none;}
table img { max-width: 100%; } 
caption { width: 1px; height: 1px; text-indent: -99999%; overflow: hidden; } 
caption,th,td{ text-align:left; font-weight:normal;}
legend { position: absolute; margin: -1px; padding: 0; width: 1px; height: 1px; overflow: hidden; border: 0; clip: rect(0, 0, 0, 0); } 
select, input, textarea { font-size: 100%; border: none; font-family: 'Spoqa Han Sans Neo', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;vertical-align: middle; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; vertical-align: middle; } 
input[type='radio'] { vertical-align: initial; } 
select { padding: 8px 33px 8px 10px; border: 1px solid #e1e1e1; border-radius: 3px; background: #fff url(/kor/images/common/ico_arrow_down.svg) no-repeat; background-position: calc(100% - 10px) 50%; background-size: 14px;line-height:1;} 
select::-ms-expand { display: none; } 
address, em, i { font-style: normal; } 
button { border: 0; line-height: inherit; background: none; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; vertical-align: middle; } 
figure, figcaption { margin: 0; padding: 0; } 
label,input,select,textarea,img{vertical-align:middle;}
form, fieldset { border: none; margin: 0; padding: 0;} 
input[type='submit'] { -webkit-appearance: none; -moz-appearance: none; appearance: none; } 
input[type='text'],
input[type='search'],
input[type='password'] { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 3px; } 
.hidden { position: absolute; left: 0; top: 0; width: 0; height: 0; font-size: 0; overflow: hidden; } 
.bold { font-weight: 500; } 
.block {display:block;}

input[type="radio"] {vertical-align: middle;border: 1px solid #828282;border-radius: 50%;width: 20px;height: 20px;position: relative;transition: border 0.5s ease-in-out; } 
input[type="radio"]:checked {background-color: #fff; } 
input[type="radio"]:checked:before {content:'';position: absolute;left: 50%; top: 50%;width: 12px;height: 12px; transform: translate(-50%, -50%); border-radius: 50%;background: #2696F8; } 
input[type="radio"]:disabled {background-color: #F6F6F6; } 
input[type="radio"]:disabled:before {content:'';position: absolute;left: 50%;top: 50%;width: 12px;height: 12px;transform: translate(-50%, -50%);border-radius: 50%;background-color: #ccc;cursor: not-allowed; } 

input[type="checkbox"] {position: relative;vertical-align: middle;border: 1px solid #DFDFDF;width: 20px;height: 20px;transition: border 0.5s ease-in-out; background-color: #FFF;border-radius:3px;} 
input[type="checkbox"]:checked::after { content: '✔'; position: absolute; left: 0; top: 0; width: 20px; height: 20px; font-size: 15px; text-align: center; color: #fff; background: #2696F8; ;border-radius:3px;} 
input[type="checkbox"]:disabled {background-color: #F6F6F6; } 
